{% load i18n %}

{% for a in page_albums %}
{% if not page.single_album or a.description %}
<hr>
{% endif %}

<div class="album">
	<h3 class="album-title">
		{% if page.single_album %}
			{{ a.album.release_date|date:"(Y)" }} {{ a.title }}
		{% else %}
			<a href="{{ a.get_absolute_url }}">
				{{ a.album.release_date|date:"(Y)" }} {{ a.title }}
			</a>
		{% endif %}
	</h3>

	<div class="album-contents-wrapper">
		<div class="album-cover">
			{% if page.single_album %}
				<i class="fas fa-compact-disc"></i>
			{% else %}
				<a href="{{ a.get_absolute_url }}">
					<i class="fas fa-compact-disc"></i>
				</a>
			{% endif %}
		</div>

		<ol class="album-tracks">
			{% for song in a.album.songs.select_related %}
				<li>
					<a class="track-title" href="{{ song.get_absolute_url }}">
						[[ SONG_TITLE ]]
					</a>
					<span class="track-length"> {{ song.duration }} </span>
				</li>
			{% endfor %}
		</ol>
	</div>

</div>
{% endfor %}
