{% load i18n %}

{% for a in page_albums %}
{% if not page.single_album or a.description %}
<hr>
{% endif %}

<div class="album">
	<h3 class="album-title">
		{% if page.single_album %}
			{{ a.album.release_date|date:"(Y) " }} {{ a.title }}
		{% else %}
			<a href="{{ a.get_absolute_url }}">
				{{ a.album.release_date|date:"(Y) " }} {{ a.title }}
			</a>
		{% endif %}
	</h3>

	<div class="album-contents-wrapper">

		{% if not is_text_browser %}
		<div class="album-cover">
			{% if page.single_album %}
				<i class="fas fa-compact-disc"></i>
			{% else %}
				<a href="{{ a.get_absolute_url }}">
					<i class="fas fa-compact-disc"></i>
				</a>
			{% endif %}
		</div>
		{% endif %}

		<div class="album-tracks">
			<ol>
				{% for sd in song_descriptions %}

					{% if sd.song.album_id == a.album_id and not sd.song.is_hidden %}
						<li>
							<div class="track-wrapper">
								<a class="track-title" href="{{ sd.song.get_absolute_url }}">
									{{ sd.translated_title }}
								</a>
								<span class="track-length">
									{% if is_text_browser %}&nbsp;{% endif %}
									{{ sd.song.duration }}
								</span>
							</div>
						</li>
					{% endif %}
				{% endfor %}
			</ol>

			{% for al in album_durations %}
				{% if al.album_id == a.album_id %}
					<div class="album-duration-container">
						<div class="album-duration-label">
							{% if is_text_browser %} {% trans "Album Duration" %}: {% endif %}
							{{ al.album_duration }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

</div>
{% endfor %}
