{% extends "main/__root.html" %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block content_block %}
<div class="content content-lyrics">

	<nav class="breadcrumbs" aria-label="breadcrumbs">
		<ul>
			<li>
				<span><a href="/{% trans 'home/' %}"><i class="icon fas fa-home"></i>{% trans 'Home' %}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/' %}"><i class="icon fas fa-music"></i>{% trans 'Music' %}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/albums/' %}{{ album.album_id }}-{{ album.slug }}"><i class="fas fa-compact-disc"></i>{{ album.title }}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/songs/' %}{{ lyrics.song_id }}-{{ lyrics.song.slug }}"><i class="fas fa-guitar"></i>{{ song_title }}</a></span>
			</li>
			<li><i class="fas fa-file-alt"></i>{% trans 'lyrics'|title %}</li>
		</ul>
	</nav>

	<h1 class="content-heading">{% trans 'Song Lyrics' %}</h1>

	<div class="lyrics-super-wrapper">
		<div class="lyrics-wrapper">
			<h3>{{ lyrics.title }}</h3>
			<a class="english-translation-link" href="#english_lyrics">English translation below</a>
			<div class="lyrics">{% markdown %}{{ lyrics.lyrics }}{% endmarkdown %}</div>
		</div>

		<div class="lyrics-wrapper">
			<h3 id="english_lyrics">{{ lyrics.english_title }}</h3>
			<div class="lyrics">{% markdown %}{{ lyrics.english_lyrics }}{% endmarkdown %}</div>
		</div>
	</div>
</div>
{% endblock %}
