{% extends root_template %}
{% load i18n %}
{% load markdown_to_html %}

{% block content_block %}
<div class="content content-tune">

{% if is_text_browser %}
	<nav>
		* <a href="/{% trans 'home/' %}">{% trans 'Home' %}</a>
		&gt; <a href="/{% trans 'music/' %}">{% trans 'Music' %}</a>
		&gt; <a href="{{ song_album.get_absolute_url }}">{{ song_album.title }}</a>
		&gt; <span>{{ song_title }}</span>
	</nav>
	<hr>
{% else %}
	<nav class="breadcrumbs" aria-label="breadcrumbs">
		<ul>
			<li>
				<a href="/{% trans 'home/' %}"><i class="fas fa-home"></i>{% trans 'Home' %}</a>
			</li>
			<li>
				<a href="/{% trans 'music/' %}"><i class="fas fa-music"></i>{% trans 'Music' %}</a>
			</li>
			<li>
				<a href="{{ song_album.get_absolute_url }}"><i class="fas fa-compact-disc"></i>{{ song_album.title }}</a>
			</li>
			<li>
				<span><i class="fas fa-guitar"></i>{{ song_title }}</span>
			</li>
		</ul>
	</nav>
{% endif %}

	<h1 class="content-heading">{% trans 'Song Details' %}</h1>
	<div>
		<h2 class="tune-title">
			<a href="{{ song.get_download_url }}">{{ song_title }}</a> – {{ song.duration }}
		</h2>

		<h3 class="tune-release-info"> {{song.release_date}} </h3>

		{% if song.original_title != song_title %}
			<h4 class="tune-original-title">
				{% trans 'Originally titled' %}: &ldquo;{{ song.original_title }}&rdquo;
			</h4>
		{% endif %}

		<ul class="tune-links">

{% if not is_text_browser %}
			<li class="tune-play">
				<a onclick="Player.selectTrackById({{ song.id }});Player.playToggle();">
					{% comment %}Translators: LISTEN button on song page.{% endcomment %}
					<i class="fas fa-headphones"></i><span>{% trans 'listen' %}</span>
				</a>
			</li>

			{% if song.youtube %}
			<li class="tune-youtube">
				<a href="{{ song.youtube }}" rel="me" target="_blank">
					{% comment %}Translators: Youtube button on song page.{% endcomment %}
					<i class="fab fa-youtube"></i><span>{% trans 'watch' %}</span>
				</a>
			</li>
			{% endif %}
{% endif %}

			{% if song.song_lyrics %}
			<li class="tune-lyrics">
				<a href="{{ song.get_lyrics_url }}">
					{% comment %}Translators: LYRICS button on song page.{% endcomment %}
					<i class="fas fa-file-alt"></i><span>{% trans 'lyrics' %}</span>
				</a>
			</li>
			{% endif %}

			<li class="tune-download">
				<a href="{{ song.get_download_url }}">
					{% comment %}Translators: DOWNLOAD button on song page.{% endcomment %}
					<i class="fas fa-file-download"></i><span>{% trans 'download' %}</span>
				</a>
			</li>
		</ul>

	</div>

	<hr>

	<article>
		{{ song_description.description | markdown_to_html | safe }}
	</article>
</div>
{% endblock %}
