{% extends "main/__root.html" %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block content_block %}
<div class="content content-tune">

	<nav class="breadcrumbs" aria-label="breadcrumbs">
		<ul>
			<li>
				<span><a href="/{% trans 'home/' %}"><i class="icon fas fa-home"></i>{% trans 'Home' %}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/' %}"><i class="icon fas fa-music"></i>{% trans 'Music' %}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/albums/' %}{{ song_album.album_id }}-{{ song_album.slug }}"><i class="fas fa-compact-disc"></i>{{ song_album.title }}</a></span>
			</li>
			<li>
				<i class="fas fa-guitar"></i>{{ song_title }}
			</li>
		</ul>
	</nav>

	<h1 class="content-heading">{% trans 'Song Details' %}</h1>
	<div>
		<h2 class="tune-title">
			<a href="/{% trans 'music/songs/' %}{{song.id}}-{{song.slug}}/download">{{ song_title }}</a> – {{ song.duration }}
		</h2>

		<h5 class="tune-release-date">{{song.release_date}}</h5>

		<ul class="tune-links">
			<li class="tune-play">
				<a href="javascript:;">
					{% comment %}Translators: LISTEN button on song page.{% endcomment %}
					<i class="fas fa-headphones"></i><span>{% trans 'listen' %}</span>
				</a>
			</li>

			{% if song.songlyrics %}
			<li class="tune-lyrics">
				<a href="/{% trans 'music/songs/' %}{{ song.id }}-{{ song.slug }}{% trans '/lyrics/' %}">
					{% comment %}Translators: LYRICS button on song page.{% endcomment %}
					<i class="fas fa-file-alt"></i><span>{% trans 'lyrics' %}</span>
				</a>
			</li>
			{% endif %}

			<li class="tune-download">
				<a href="/{% trans 'music/songs/' %}{{ song.id }}-{{ song.slug }}{% trans '/download/' %}">
					{% comment %}Translators: DOWNLOAD button on song page.{% endcomment %}
					<i class="fas fa-file-download"></i><span>{% trans 'download' %}</span>
				</a>
			</li>
		</ul>

	</div>

	<hr>

	<article>
	{% if song.original_title != song_title %}
		<p>&quot;{{ song_title }}&quot;, {% trans 'originally titled' %}: &quot;{{ song.original_title }}&quot;</p>
	{% endif %}

	{% markdown %}{{song_description.description}}{% endmarkdown %}
	</article>
</div>
{% endblock %}
