{% extends root_template %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block content_block %}
<div class="content content-tune">

	<nav class="breadcrumbs" aria-label="breadcrumbs">
		<ul>
			<li>
				<span><a href="/{% trans 'home/' %}"><i class="icon fas fa-home"></i>{% trans 'Home' %}</a></span>
			</li>
			<li>
				<span><a href="/{% trans 'music/' %}"><i class="icon fas fa-music"></i>{% trans 'Music' %}</a></span>
			</li>
			<li>
				<span><a href="{{ song_album.get_absolute_url }}"><i class="fas fa-compact-disc"></i>{{ song_album.title }}</a></span>
			</li>
			<li>
				<i class="fas fa-guitar"></i>{{ song_title }}
			</li>
		</ul>
	</nav>

	<h1 class="content-heading">{% trans 'Song Details' %}</h1>
	<div>
		<h2 class="tune-title">
			<a href="{{ song.get_download_url }}">{{ song_title }}</a> – {{ song.duration }}
		</h2>

		<h5 class="tune-release-info">
			{{song.release_date}}
			{% if song.original_title != song_title %}
				<div class="tune-original-title">
					{% trans 'Originally titled' %}: &ldquo;{{ song.original_title }}&rdquo;
				</div>
			{% endif %}
		</h5>

		<ul class="tune-links">
			<li class="tune-play">
				<a onclick="Player.selectTrackById({{ song.id }});Player.playToggle();">
					{% comment %}Translators: LISTEN button on song page.{% endcomment %}
					<i class="fas fa-headphones"></i><span>{% trans 'listen' %}</span>
				</a>
			</li>

			{% if song.youtube %}
			<li class="tune-youtube">
				<a href="{{ song.youtube }}" rel="me" target="_blank">
					{% comment %}Translators: Youtube button on song page.{% endcomment %}
					<i class="fab fa-youtube"></i><span>{% trans 'watch' %}</span>
				</a>
			</li>
			{% endif %}

			{% if song.song_lyrics %}
			<li class="tune-lyrics">
				<a href="{{ song.get_lyrics_url }}">
					{% comment %}Translators: LYRICS button on song page.{% endcomment %}
					<i class="fas fa-file-alt"></i><span>{% trans 'lyrics' %}</span>
				</a>
			</li>
			{% endif %}

			<li class="tune-download">
				<a href="{{ song.get_download_url }}">
					{% comment %}Translators: DOWNLOAD button on song page.{% endcomment %}
					<i class="fas fa-file-download"></i><span>{% trans 'download' %}</span>
				</a>
			</li>
		</ul>

	</div>

	<hr>

	<article>
		{% markdown %}{{song_description.description}}{% endmarkdown %}
	</article>
</div>
{% endblock %}
