{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

	<head>
		<meta charset="utf-8">
		<title>
			{% if page.title %}
				{{ page.title }} |
			{% endif %}
				Dimmu Saurus
		</title>

		{% if page.description %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}

		{% language 'bg' %}
			<link
			href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
			rel="alternate"
			hreflang="bg" />
		{% endlanguage %}

		{% language 'en' %}
			<link
			href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
			rel="alternate"
			hreflang="en" />
		{% endlanguage %}

		{% language 'fr' %}
			<link
			href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
			rel="alternate"
			hreflang="fr" />
		{% endlanguage %}

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

		<link
			rel="stylesheet"
			href="{% static 'reset.css' %}">
<!-- 		<link
			rel="stylesheet"
			href="https://unpkg.com/purecss@1.0.1/build/base-min.css"
			crossorigin="anonymous"> -->

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Griffy|Noto+Sans:400,400i,700,700i&amp;display=swap&amp;subset=cyrillic">

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
			integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
			crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'ds.min.css' %}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

		<script>
			function isOldBrowser() {
				"use strict";

				try {
					if (typeof Symbol === 'undefined') throw new Error;
					eval('class C {}');
					eval('var a = (x) => x+1');
				} catch (e) {
					return true;
				}

				return false;
			}


			var js = document.createElement('script');

			if (isOldBrowser()) {
				// modern JS is completely incompatible with older browser, so we use a transpiled version
				js.src = '{% static "ds.legacy.min.js" %}';

				// most CSS can be reused, so we just add the extra legacy rules
				var css = document.createElement('link');
				css.rel = 'stylesheet';
				css.href = '{% static "ds.legacy.min.css" %}';
				document.head.appendChild(css);
			} else {
				js.src = '{% static "ds.min.js" %}';
			}

			document.head.appendChild(js);
		</script>
	</head>

	<body class="unsupported-player">
		<header>
			<div class="header-container shadow-bottom">

				<div class="logo-text logo-text-left">Dimmu</div>

				<div class="logo shadow-bottom">
					<img src="{% static 'img/dimmu-saurus-250-krio.png' %}" alt="Dimmu Saurus" />
				</div>

				<div class="logo-text logo-text-right">Saurus</div>

				<div class="toggle-wrapper toggle-main-menu-wrapper">
					<a
						href="javascript:;"
						title="{% trans 'Main Menu' %}">
						<i class="fas fa-bars"></i>
						<i class="fas fa-chevron-down"></i>
					</a>
				</div>

				<div class="toggle-wrapper toggle-language-wrapper">
					<a
						href="javascript:;"
						title="{% trans 'Change Language' %}">
						<i class="fas fa-language"></i>
						<span class="toggle-language-label">Language</span>
						<i class="fas fa-chevron-down"></i>
					</a>
				</div>
			</div>

			<div class="header-super-wrapper">
				<div class="menu-wrapper language-choice-wrapper">
					<nav class="menu menu-language-choice menu-closed shadow-bottom">
						<ul>

							{% language 'bg' %}
							<li>
								<a
								href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
								rel="alternate"
								hreflang="bg">
									<span class="icon flag flag-bg"></span>
									Български
								</a>
							</li>
							{% endlanguage %}

							{% language 'en' %}
							<li>
								<a
								href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
								rel="alternate"
								hreflang="en">
									<span class="icon flag flag-en"></span>
									English
								</a>
							</li>
							{% endlanguage %}

							{% language 'fr' %}
							<li>
								<a
								href="{{ page.base_url }}/{% trans page.url %}{{ page.url_slug }}{% trans page.url_slug_operation %}"
								rel="alternate"
								hreflang="fr">
									<span class="icon flag flag-fr"></span>
									Français
								</a>
							</li>
							{% endlanguage %}

						</ul>
					</nav>
				</div><div class="menu-wrapper menu-main-wrapper"> <!-- the space ruins the alignment -->
					<nav class="menu menu-main menu-closed shadow-bottom">
						<ul>
							<li>
								<a href="/{% trans 'home/' %}">
									<i class="icon fas fa-home"></i>
									{% trans "Home" %}
								</a>
							</li>
							<li>
								<a href="/{% trans 'biography/' %}">
									<i class="icon fas fa-book"></i>
									{% trans "Biography" %}
								</a>
							</li>
							<li>
								<a id="music-button" href="javascript:;">
									<i class="icon fas fa-music"></i>
									{% trans "Music" %}
									<i class="fas fa-chevron-down"></i>
								</a>
							</li>
						</ul>

						<nav class="menu menu-music menu-closed">
							<ul>
								<li>
									<a href="/{% trans 'music/' %}">{% trans 'All Albums' %}</a>
								</li>
								{% for a_info in albums %}
								<li>
									<a href="{{ a_info.get_absolute_url }}">
										{{ a_info.album.release_date|date:"(Y)" }} {{ a_info.title }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</nav>

					</nav>
				</div>
			</div>

		</header>

		<div class="content-wrapper">
			{% block content_block %}{% endblock %}
		</div>

		<div class="menu-playlist-wrapper shadow-top menu-closed playlist-unavailable">
			<div class="menu menu-playlist">
				<div id="playlist-unavailable-label" class="playlist-unavailable-label">
					{% trans 'Playlist unavailable. Refresh the page to try again.' %}
				</div>
				<ul id="playlist-list"></ul>
			</div>
		</div>

		<!-- Whitespace ruins alignment, so <a> tags had to be compressed -->
		<footer class="shadow-top">
			<div class="social">
				<div class="social-label">{% trans "Follow" %}:</div>
				<div class="social-icons">
					{% comment %}
					<a
						class="bandcamp-link"
						title="{% trans 'Dimmu Saurus Bandcamp page' %}"
						href="http://bandcamp.com"
						target="_blank"
						rel="me"><i class="fab fa-bandcamp"></i></a>
					{% endcomment %}
					<a
						class="facebook-link"
						title="{% trans 'Dimmu Saurus on Facebook' %}"
						href="https://www.facebook.com/dimmusaurus/"
						target="_blank"
						rel="me"><i class="fab fa-facebook-square"></i></a><a
						class="youtube-link"
						title="{% trans 'Dimmu Saurus Youtube channel' %}"
						href="https://www.youtube.com/playlist?list=PLBugGYGZgZWcA8ePOBLDdyD1__D7WWxMI"
						target="_blank"
						rel="me"><i class="fab fa-youtube"></i></a>
				</div>
			</div>

			<div class="copyright">
				<span class="copyright-copy">&copy;</span>
				<span class="copyright-first-year">2004-</span>
				<span class="copyright-last-year">{% now "Y" %}</span>
				<span class="copyright-ds">Димозавъръ</span>
			</div>
		</footer>


		<div class="player shadow-top">
			<audio onended="Player.next()"></audio>
			<a
				id="pl-playlist-toggle"
				href="javascript:;"
				class="playlist"><i class="fas fa-chevron-up"></i></a>

				<div class="track-title"></div>

			<div class="track-progress-bar-container">
				<span class="progress-time"></span>

				<div class="track-progress-bar">
					<div class="track-progress-bar-background">
						<div class="track-progress"></div>
					</div>
				</div>

				<span class="total-time"></span>
			</div>

			<div class="player-controls">
				<a
					onclick="Player.toggleMute(this)"
					class="volume fas fa-volume-up"
					href="javascript:;"></a><a

					onclick="Player.previous()"
					id="pl-previous"
					class="fas fa-step-backward"
					href="javascript:;"></a><a

					onclick="Player.playToggle()"
					id="pl-play"
					class="fas fa-play"
					href="javascript:;"></a><a

					onclick="Player.next()"
					id="pl-next"
					class="fas fa-step-forward"
					href="javascript:;"></a>
			</div>
		</div>

	</body>

</html>
