{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

	<head>
		<meta charset="utf-8">
		<title>
			{% if page.title %}
				{{ page.title }} |
			{% endif %}
				Dimmu Saurus
		</title>

		{% if page.description %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="color-scheme" content="light dark">

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

		<link
			rel="stylesheet"
			href="{% static 'ds.min.css' %}?v={{ build|default:'0' }}">

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap&text=DimuSars" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
			integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
			crossorigin>

		<script>
			AJAXIFY_EXCLUDE = [
				{% for url in language_urls %}
					{% language url.language_code %} '{% trans "/download/" %}', {% endlanguage %}
				{% endfor %}
			];
			MESSAGES = {
				errorLoadingTrack: '{% trans "Cannot load this song!" %}',
				detailsAbout: '{% trans "Details about" %}',
				loading: "{% trans 'Loading...' %}",
				newLanguageWillInterruptMusic: "{% trans 'Changing the language will interrupt music playback. Continue?' %}"
			};

			{% include "main/detect-old-browser.js" %}
			loadResources(
				'{% static "ds.min.js" %}?v={{ build|default:"0" }}',
				'{% static "ds.legacy.min.js" %}?v={{ build|default:"0" }}',
				'{% static "ds.legacy.min.css" %}?v={{ build|default:"0" }}'
			);
		</script>

		<script>{% include "main/theme.js" %}</script>
	</head>

	<body class="no-player">

{% if not is_text_browser %}
	{% include "main/components/gui-header.html" %}
{% endif %}

		<div id="content-container">
			{% block content_block %}{% endblock %}
		</div>

{% if not is_text_browser %}
		{% include "main/components/playlist.html" %}
		{% include "main/components/gui-footer.html" %}
		{% include "main/components/player.html" %}

		<div class="ajax-loader">
			<span class="spinner"></span>
			<span class="label"></span>
		</div>

		<div
			id="scroll-to-top-button"
			class="shadow-bottom button-scroll-to-top hidden"
			onclick="window.scrollTo(0, 0);Menu.hideButtonScrollToTop();"><i class="fas fa-angle-up"></i></div>
{% endif %}

	</body>
</html>
