{% extends root_template %}
{% load i18n %}

{% block content_block %}
	{% trans 'music/' as url_music %}
	{% trans 'biography/' as url_biography %}
	<div class="content content-home">
		<h1 class="content-heading">{% trans "Welcome" %}</h1>
		<article>
				<p>
					{% blocktrans trimmed %}
						Welcome to the Black Blues Dimosaur's den (Latin: <i>Dimmu Saurus</i>). It is a garage project for blues, rock and metal music, without any rules or limitations. The way real music should be.
					{% endblocktrans %}
				</p>
				<p>
					{% blocktrans trimmed %}
						If you are a fan of this kind of music, then jump straight ahead to the <a href="/{{ url_music }}">discography</a> and hear a song. Or if you are interested in the project's background, read more <a href="/{{ url_biography }}">about Dimmu Saurus</a>.
					{% endblocktrans %}
				</p>
		</article>

		<h1 class="content-heading">{% trans "News" %}</h1>
		{% include "main/news.html" %}
	</div>
{% endblock %}
