.black-sabbath {
		--ajax-loader-border-color: #888; /* not to be confused with "--ajax-loader-background-color" */

		--body-background-color: #333;
		--body-background-url: url(img/fon-333.png);
		--body-heading-color: #ccc;
		--body-text-color: #c8c8c8;

		--link-color: #a0c1de;
		--link-hovered-color: #85c6ff;
		--link-visited-color: #d9bce1;
		--link-visited-hovered-color: #edacff;

		--logo-background-color: #cfcfcf;

		--menu-background-color: #222;
		--menu-background-hovered-color: #2d2d2d;
		--menu-text-color: #b0b0b0;
		--menu-icon-inactive-color: #666;
		--menu-input-background-color: #1c1c1c;
		--menu-item-hovered: #d8d8d8;

		--menu-border-strong: #484848;
		--menu-separator-strong: #484848;
		--menu-separator-medium: #444444;
		--menu-separator-soft: #383838;

		--player-loading-spinner-url: url(/static/img/vrtelejka-222.gif);

		--shadow-bottom: 0px 3px 4px #111;
		--shadow-top: 0px 0px 3px #111;
		--shadow-top-small: 0 -2px 2px rgba(20, 20, 20, 0.2);
	}

.black-sabbath hr {border-color: var(--menu-separator-medium);}
.black-sabbath .content-discography .album-cover .fas {color: var(--body-heading-color);}

.black-sabbath .player .loading-indicator,
.black-sabbath .ajax-loader-spinning {
	color: var(--menu-item-hovered);
}
.black-sabbath .ajax-loader {border-color: var(--ajax-loader-border-color);}

.black-sabbath h1,
.black-sabbath h2,
.black-sabbath h3,
.black-sabbath h4,
.black-sabbath h5 {
		color: var(--body-heading-color);
}
