:root {
	--ajax-loader-background-color: black;

	--body-background-color: #f4f4f4;
	--body-background-url: url(img/fon-f4f4f4.png);
	--body-text-color: #000;

	--link-color: #225682;
	--link-hovered-color: #0e64ad;
	--link-visited-color: #644280;
	--link-visited-hovered-color: #6518a7;

	--logo-background-color: #fafafa;

	--menu-background-color: #333;
	--menu-background-hovered-color: #444;
	--menu-text-color: #ccc;
	--menu-icon-inactive-color: #888;
	--menu-input-background-color: #1c1c1c;
	--menu-item-hovered: white;

	--menu-separator-strong: #666;
	--menu-separator-medium: #555;
	--menu-separator-soft: #444;

	--menu-border-strong: 1px solid #666;

	--player-loading-spinner-url: url(/static/img/vrtelejka-333.gif);

	--shadow-language-flags: inset 2px 2px 2px 0 rgba(155, 155, 155, 0.5), inset -2px -2px 2px 0 rgba(0, 0, 0, 0.20);
	--shadow-bottom: 0 3px 5px rgba(50, 50, 50, 0.57);
	--shadow-top: 0 -3px 5px rgba(50, 50, 50, 0.57);
	--shadow-top-small: 0 -1px 4px rgba(50, 50, 50, 0.57);
}