.no-theme {
	position: fixed;
	top: -9999px;
}
.no-theme {
	--theming-using-variables-support: unset;
	position: var(--theming-using-variables-support);
	top: var(--theming-using-variables-support);
}
