/**********************************************************************************
 * Reset HTML styles
 **********************************************************************************/
body {
	font-family: "Noto Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h2, h3, h4, h5, h6 {text-align: left;}
header .logo-text {font-family: 'Griffy', cursive;}
hr {
	border-bottom-style: none;
	border-top-style: solid;
	height: 0;
	margin: 16px 0;
}
img {border: 0 none;}

/**********************************************************************************
 * Reset Components
 **********************************************************************************/
.menu .menu-item, .menu-item a, footer a, .player .player-button {
	text-decoration: none;
}

.header-container .header-button, .menu .menu-item, .player .player-button {
	border: none;
}
