/**********************************************************************************
 * Reset HTML styles
 **********************************************************************************/
img {border: 0 none;}
body {font-family: "Noto Sans", sans-serif;}

header .logo-text {font-family: 'Griffy', cursive;}

hr {
	border-bottom-style: none;
	border-top-style: solid;
	height: 0;
	margin: 16px 0;
}

/**********************************************************************************
 * Reset Components
 **********************************************************************************/
.body-disabled {overflow: hidden;}
.body-disabled .content {opacity: 0.3;}

.hidden {display: none !important;}

.menu-closed {
	border: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
}

.menu .menu-item, .menu-item a, footer a, .player .player-button {
	text-decoration: none;
}

.header-container .header-button, .menu .menu-item, .player .player-button {
	border: none;
}
