Alias /static /home/dimo/www/ds/static
<Directory /home/dimo/www/ds/static>
    Require all granted
</Directory>

<Directory /home/dimo/www/ds/pysaurus>
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

WSGIDaemonProcess dimmusaurus python-path=/usr/lib/python3.6/site-packages
WSGIProcessGroup dimmusaurus
WSGIScriptAlias / /home/dimo/www/ds/pysaurus/wsgi.py
