/**********************************************************************************
 * M sized screen - Tablet or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
/*============== Ajax spinner ==============*/
	.ajax-loader {
		border-radius: 24px;
		border-right: 3px double;
		left: 0;
		margin: auto;
		right: 0;
	}
	.ajax-loader-spinning {
		top: 160px;
		width: 140px;
	}

/*============== Buttons ==============*/
	.button-scroll-to-top {display: none;}


/*============== Header ==============*/
	header {
		height: 160px;
		overflow: visible;
		position: relative;
	}

	.header-container {
		height: 124px;
	}

	.header-super-wrapper {
		display: flex;
	}


/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 90px;
		display: inline-block;
		height: 150px;
		margin: -12px 20px 0;
		min-width: 156px;
		order: 4;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 156px;
	}
	.header-container .logo > img {
		max-width: fit-content;
		width: initial; /* Workaround for Opera */
	}

	.header-container .logo-text {
		align-items: center;
		display: flex;
		flex: auto;
		font-size: 3.6em;
		height: 124px;
		width: 175px;
	}

	.header-container .logo-text-left {
		justify-content: flex-end;
		order: 3;
	}

	.header-container .logo-text-right {
		justify-content: flex-start;
		order: 5;
	}


/*============== Menu Buttons ==============*/
	.toggle-theme-wrapper {order: 1;}
	.toggle-main-menu-wrapper {order: 6;}

	.header-button {
		display: -moz-box; /* workaround for Firefox 48 */
		height: auto;
		width: auto;
	}

	.toggle-theme-wrapper .header-button .fa-lightbulb {font-size: 0.9em;}

/*============== Breadcrumbs ==============*/
	.breadcrumbs {
		margin: 0 auto;
		text-align: center;
	}
	.breadcrumbs ul {margin-top: 0;}

/*============== Menus ==============*/
	.menu-wrapper {display: flex;}

	.menu li {padding: 0 12px 2px 12px;}
	.menu li > .menu-item {font-size: 1.1em;}

	.left-menu-wrapper {flex: 0.6;}
	.menu-theme-choice {flex: 0.666;}

	.menu-main-wrapper {flex: 0.4;}
	.menu-main {flex: 1;}


/*============== Pages ==============*/
	.content {
		margin: auto;
		max-width: 1033px;
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 160px - 40px - 40px - 20px);
		padding: 52px 32px 10px;
		width: auto;
	}


/*============== Playlist ==============*/
	.menu-playlist-wrapper {width: 524px;}
	.menu-playlist {
		height: 45vh;
		max-height: calc(100vh - 40px - 50px - 176px); /* 100% - footer - search - header+padding */
	}

	.menu-playlist-wrapper .playlist-search input {
		margin-top: 14px;
		padding: 8px 6px;
	}

	.menu-playlist li > .menu-item {font-size: 1em;}

/*============== Player ==============*/
	.player .player-controls {font-size: 1.6em;}
	.player .player-controls .player-button {
		padding: 0;
		width: 54px;
	}
	.player .player-controls .volume {display: inline-block;}


/*============== Footer ==============*/
	footer .social-icons a {font-size: 27px;}
	footer .copyright {font-size: 0.93em;}
}


/**********************************************************************************
 * ONLY M
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
/*============== Buttons ==============*/
	.toggle-language-wrapper {display: none;}
	.header-button {width: 80px;}

	.header-button .fa-chevron-down,
	.header-button .fa-chevron-up {
		font-size: 0.3em;
		margin-left: 8px;
	}

/*============== Language menu ==============*/
	.menu-language-choice,
	.menu-language-choice.menu-closed {
		align-items: flex-end;
		border-radius: 0 0 50px 50px;
		display: flex;
		flex: 0.333;
		height: 68px;
		justify-content: center;
		overflow: hidden;
		width: auto;
	}

	.menu-language-choice ul {
		display: flex;
		flex: 1;
		justify-content: center;
		justify-content: space-evenly;
		padding: 0 12px 8px 12px;
	}

	.menu-language-choice li {
		border: 0 none !important;
		display: inline;
		padding: 0;
	}
	.menu-language-choice li:nth-child(2) {padding-top: 7px;}
	.menu-language-choice li .menu-item {
		border: 0 none !important;
		display: inline;
		padding: 8px; /* click area, "li" padding is for alignment */
	}

	.menu-language-choice li .menu-item .icon {margin: 0;}
	.menu-language-choice .language-label {display: none;}


}
