/**********************************************************************************
 * XL sized screen - Large desktop or laptop (only making use of the wider space)
 **********************************************************************************/
@media screen and (min-width: 80em) {
	.toggle-theme-wrapper {margin-left: 0.5vw;}
	.menu-main {margin-right: 0.5vw;}

	.menu-playlist {height: 48vh;}

	.player .track-progress-bar-container {
		flex: 42%;
		margin-right: 8%;
	}
}
