{% extends root_template %}
{% load i18n %}
{% load tz %}

{% block content_block %}

{% if is_text_browser %}
	<nav>
		* <a href="/{% trans 'home/' %}">{% trans 'Home' %}</a>
		&gt; <span>{{ page.title }}</span>
	</nav>
{% endif %}

<div class="content content-version">
	<h1 class="content-heading">{{ page.title }}</h1>

	<div class="content-version-super-wrapper">

		<pre class="ascii-logo">
                       .+/))))))>=
                     +()))))))()))))
                   .())))(    \))))))>  .   .
                 .)))))))\    /)))))))))))))))))))>>
                 ())))))))))))))))))))))))))))))))))))
                +()))))))))))))))))))))))))))))))))))))
               .)))))))))))))))))/<)))  \\())=  )))/ \))
          ..../))))))))))))))))/    )/     \)    (/    \
        ./ .()))))))))))))))))<       .)      /    .>
       .(/))))))))))))))))))))))>..+/))/    .)  .+/)>
   >)))))))))))))))))))))))))))))))))))>/()))))))))/
  / /))))))))))))))))))))))))))))))))))))))))))))<
   .)))))))))))))))/            \<   '''''''
  \/)))))))))))))))>        .+. .
/<())))))))))))))))(/ ...+>))<((/
> ())))))))))))))))><\ ( ..      +)/
 \)))))))))))))))))/)))><<<<()>>)))<
 ))))))))))))))))))/              \.
.- )))))))))))))))))
)>\)))))))))))))))))
 ) )))))))))())))<<
 . )/
		</pre>

		<div class="version-info">
			<h2 class="version-info-title"> dimmusaurus </h2>

			<table class="version-info-table">
				<tbody>
					<tr>
						<td class="version-info-left">version:</td>
						<td>{{ version|default:'--' }}</td>
					</tr>
					<tr>
						<td class="version-info-left">build:</td>
						<td>{{ build|default:'--' }}</td>
					</tr>
					<tr>
						<td class="version-info-left">build hash:</td>
						<td>{{ last_commit_hash|default:'--' }}</td>
					</tr>
					<tr>
						<td class="version-info-left">build date:</td>
						<td>{{ last_commit_date|default:'--' }}</td>
					</tr>

					<tr>
						<td class="version-info-left">DB origin:</td>
						<td>{{ db_info.computer_id|default:'--' }}</td>
					</tr>
					<tr>
						<td class="version-info-left">DB time:</td>
						{% localtime off %}
						<td>{{ db_info.export_date|date:'Y-m-d H:i:s'|default:'--' }}</td>
						{% endlocaltime %}
					</tr>
				</tbody>
			</table>

			<p> <small> ASCII logo thanks to: <a href="https://asciiart.club/">ASCII art club</a>. </small> </p>
		</div>

	</div>

</div>
{% endblock %}
