{% extends root_template %}
{% load i18n %}

{% block content_block %}
<div class="content content-bio">
	<nav class="breadcrumbs" aria-label="breadcrumbs">
		<ul>
			<li>
				<span><a href="/{% trans 'home/' %}"><i class="icon fas fa-home"></i>{% trans 'Home' %}</a></span>
			</li>
			<li><i class="fas fa-book"></i>{% trans 'Biography' %}</li>
		</ul>
	</nav>

	{% comment %}Translators: About page big heading{% endcomment %}
	<h1 class="content-heading">{% trans 'About Dimmu Saurus' %}</h1>
	<article>{% block bio_block %}{% endblock %}</article>
</div>
{% endblock %}
