/**********************************************************************************
 * Reset HTML styles
 **********************************************************************************/
img {border: 0 none;}
body {font-family: "Noto Sans", sans-serif;}

header .logo-text {font-family: 'Griffy', cursive;}

hr {
	border-bottom-style: none;
	border-top-style: solid;
	height: 0;
	margin: 16px 0;
}

footer .social-icons .bandcamp-link {display: none;} /* There is no bandcamp yet */

/**********************************************************************************
 * Reset Components
 **********************************************************************************/
.body-disabled {overflow: hidden;}
.body-disabled .content {opacity: 0.3;}

.hidden {display: none !important;}

.menu-closed {
	border: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
}

.menu .menu-item, .menu-item a, footer a, .player .player-button {
	text-decoration: none;
}

.header-container .header-button, .menu .menu-item, .player .player-button {
	border: none;
}


/**********************************************************************************
 * vv UNSORTED BASE.CSS vv
 **********************************************************************************/
/**********************************************************************************
 * Pages styles
 **********************************************************************************/
/*============== Tune ==============*/
.content-tune .tune-title {
	font-weight: normal;
	margin: 6px auto 10px;
}
.content-tune .tune-title a {text-decoration: none;}
.content-tune .tune-release-info {margin: 6px 6px 18px;}
.content-tune .tune-original-title {
	font-weight: normal;
	margin-top: 1px;
}

.content-tune .tune-links {
	margin: 0;
	padding: 0 5px;
}

.content-tune .tune-links li {
	display: inline-block;
	margin-bottom: 10px;
}

.content-tune .tune-links a {
	border-bottom-left-radius: 10px;
	cursor: pointer;
	padding: 5px 10px;
	text-decoration: none;
}
.content-tune .tune-links .fas, .content-tune .tune-links .fab {
	font-size: 1.3em;
	margin: 5px;
}

/*============== Version Info ==============*/
.content-version .ascii-logo {
	display: inline-block;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.content-version .version-info {display: inline-block;}
.version-info .version-info-table, .version-info .content-heading {text-align: left;}
.version-info .version-info-left {
	font-weight: bold;
	padding: 0 8px;
}
