/*============== Header ==============*/
.header-container {
	display: flex;
	overflow: visible;
}


/*============== Logo ==============*/
.header-container .logo {
	order: 1;
	z-index: 100;
}
.header-container .logo-text{display: none;}
.header-container .logo > img {
	height: 100%;
	width: 100%;
}


/*============== Menu Buttons ==============*/
.toggle-language-wrapper {order: 2;}
.toggle-main-menu-wrapper {order: 3;}

.header-button {font-size: 2em;}

.header-button, .menu .menu-item, .player .player-button {
	display: inline-block;
	padding: 0;
}

.toggle-language-label {
	display: none;
}

header .fa-chevron-down, header .fa-chevron-up {
	font-size: 0.5em;
	vertical-align: middle;
}