/*==============  Menus ==============*/
.menu > ul {
	margin: 0;
	padding: 0 0 12px 0;
}

.menu li {
	margin: 0;
	padding: 0;
}
.menu li > .menu-item {
	cursor: pointer;
	display: block;
	font-size: 1.15em;
	padding: 12px 8px;
	text-align: left;
}
.menu li > .menu-item .icon {margin: 0 10px 0 6px;}

.menu li, .content-tune .tune-links li, .breadcrumbs li {list-style-type: none;}


/*============== Language Menu ==============*/
.menu-language-choice .flag {
	background: url(img/znamena.svg) no-repeat;
	border-radius: 3px;
	display: inline-block;
	height: 18px;
	vertical-align: middle;
	width: 24px;
}

.menu-language-choice .flag-bg{background-position:0 0;}
.menu-language-choice .flag-en{background-position:-48px 0;}
.menu-language-choice .flag-fr{background-position:-24px 0;}


/*==============  Music Menu ==============*/
.menu-music > ul {padding-left: 16px;}
.menu-music li:first-child .menu-item {padding-top: 0;}


/*==============  Playlist ==============*/
.menu-playlist-wrapper {
	bottom: 40px;
	max-width: 100%;
	position: fixed;
	width: 576px;
}

.menu-playlist-wrapper .playlist-search {display: flex;}
.menu-playlist-wrapper .playlist-search input {
	border: none;
	display: flex;
	flex: auto;
	margin: 12px 8px 0 8px;
	padding: 8px 6px;
}
.menu-playlist-wrapper .playlist-search input[disabled] {display: none;}

.menu-playlist {
	border-radius: 10px;
	margin: 12px 6px 0 0;
	overflow-y: auto;
}

.menu-playlist li > .menu-item {
	align-items: center;
	cursor: auto;
	display: flex;
	font-size: 1em;
	padding-bottom: 0;
	padding-top: 0;
}

.menu-playlist .playlist-info, .menu-playlist .playlist-title {
	cursor: pointer;
	padding: 12px 0;
}
.menu-playlist .playlist-title {flex: auto;}
.menu-playlist .playlist-info {
	font-size: 1.2em;
	margin: auto 0;
}
.menu-playlist .playlist-info, .menu-playlist .playlist-time {padding-left: 3px;}

.menu-playlist .no-playlist-label {display: none; margin: 12px;}
.no-playlist .no-playlist-label {display: block;}
.no-playlist ul {display: none;}
