/*============== Any heading ==============*/
.content .content-heading {
	border-bottom-right-radius: 24px;
	overflow: hidden;
	padding: 0 15px 6px 3px;
	text-overflow: ellipsis;
}


/*============== 404 ==============*/
.content-404 {text-align: center;}


/*============== Lyrics ==============*/
.lyrics-super-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.content-lyrics .lyrics-wrapper {
	align-items: flex-start;
	display: flex;
	flex-flow: column;
}

.content-lyrics .english-translation-link {margin-bottom: 16px;}
.content-lyrics .lyrics {text-align: left;}


/*============== Discography ==============*/
/* Album title */
.content-discography .album-title {
	margin: 0;
	text-align: center;
}

/* Album cover */
.content-discography .album-contents-wrapper {
	display: flex;
	flex-flow: column;
}

.content-discography .album-cover {
	flex: none;
	height: 136px;
	margin: auto;
	overflow-y: hidden;
	width: 176px;
}
.content-discography .album-cover .fas {
	font-size: 176px;
	text-align: center;
	width: 100%;
}

/* Track list */
.content-discography .album-tracks {flex: auto;}
.content-discography .album-tracks ol {
	padding-left: 20px;
	text-align: left;
}
.content-discography .album-tracks li {margin: 4px 0;}

.content-discography .album-tracks .track-wrapper {display: flex;}
.content-discography .album-tracks .track-title {flex: auto;}
.content-discography .album-tracks .track-length {
	flex: none;
	margin-left: 6px;
	text-align: right;
}

/* Total album duration */
.content-discography .album-tracks .album-duration-container .album-duration-label {
	border-top: 1px solid;
	margin-left: 17px;
	padding: 6px 1px 0 0;
	text-align: right;
}

.content-discography .license-notice {padding: 0 10px;}


/*============== Home ==============*/
.content-home article .news-title {margin-top: 1.5em;}
.content-home .news a {font-style: italic;}
