/**********************************************************************************
 * XS sized screen - Smartphone in portrait mode
 **********************************************************************************/
@media screen and (min-width: 18.01em) and (orientation: portrait),
screen and (min-width: 20.01em) and (orientation: landscape) {
	.header-container {
		height: 64px;
	}

/*============== Buttons ==============*/
	.header-button {
		height: 64px;
		margin: 0 4px;
		width: 56px;
	}

/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 0 42px 42px 42px;
		float: left;
		height: 80px;
		margin-left: -10px;
		margin-top: -8px;
		padding: 5px 4px 2px 10px;
		width: 80px;
	}

/*============== Content ==============*/
	.content {
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 64px - 40px - 48px - 40px);
		padding: 20px 10px;
	}
}


/**********************************************************************************
 * XS or smaller only
 **********************************************************************************/
@media screen and (max-width: 35.5em) {
	/* Otherwise breadcrumbs wrap arround and become unreadable on very narrow screens */
	.breadcrumbs ul {
		margin: 16px 2% 0;
		max-width: 96%;
	}
	.breadcrumbs li {
		display: inline-block;
		max-width: 100%;
		overflow-x: hidden;
		padding: 1px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
