/**********************************************************************************
 * M sized screen - Tablet or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
	header {max-height: 160px;}

	.header-container {
		display: flex;
		height: 124px;
		justify-content: center;
		overflow: visible;
	}

/*============== Ajax spinner ==============*/
	.ajax-loader {
		border-radius: 24px;
		border-right: 3px double;
		justify-content: center;
		left: 0;
		margin: auto;
		right: 0;
		top: -50px;
		width: 140px;
	}
	.ajax-loader-spinning {
		top: 160px;
	}


/*============== Buttons ==============*/
	.toggle-wrapper {
		align-items: center;
		display: flex;
		width: calc(50vw - 257px); /* (100vw - LogoWidth) / 2 */
	}

	.toggle-language-wrapper {
		justify-content: flex-start;
		order: 1;
	}

	.toggle-main-menu-wrapper {
		justify-content: flex-end;
		order: 5;
	}


/*============== Breadcrumbs ==============*/
	.breadcrumbs {text-align: center;}

/*============== Header ==============*/
	header {
		overflow: visible;
		position: relative;
	}


/*============== Logo ==============*/
	.header-container .logo > img {
		height: 100%;
	}

	.header-container .logo-text, .header-container .logo {
		display: inline-block;
	}

	.header-container .logo-text {
		align-items: center;
		display: flex;
		font-size: 3.6em;
		width: 175px;
	}

	.header-container .logo-text-left {
		justify-content: flex-end;
		order: 2;
	}

	.header-container .logo-text-right {
		justify-content: flex-start;
		order: 4;
	}

	.header-container .logo {
		border-radius: 90px;
		height: 150px;
		margin: -12px 20px 0;
		order: 3;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 164px;
	}


/*============== Menus ==============*/
	.menu-wrapper {
		display: inline-flex;
		width: 50%;
	}

	.menu-main-wrapper {justify-content: flex-end;}

	.menu li {
		display: block;
		padding: 0 12px 2px 12px;
	}

	.menu-playlist-wrapper {
		bottom: 2.5em;
		min-width: 524px;
	}
	.menu-playlist-wrapper .playlist-search input {
		margin: 14px 16px 0 16px;
		padding: 8px 6px;
	}
	.menu-playlist {max-height: calc(60vh - 2.5em);}
	.menu-playlist .playlist-time {margin-left: 10px;}


/*============== Content ==============*/
	.content-wrapper {
		display: flex;
		justify-content: center;
		min-height: calc(100vh - 160px - 2.5em - 2.5em); /* 100% - header-height - footer - player */
	}

	.content {
		padding: 0.67em 2em;
		width: 65em;
	}
	.content-404 {
		max-width: 65em;
		width: auto;
	}

	.content-version .ascii-logo {
		font-size: 0.6em;
		margin: 0 16px;
	}
	.content-version .version-info {
		border-left: 1px solid;
		padding-left: 16px;
	}


/*============== Player ==============*/
	.player .total-time::before {
		content: "/";
		margin: 5px;
	}

	.player .player-controls {font-size: 1.6em;}
	.player .playlist {padding: 0 15px;}
	.player .player-controls .player-button {
		padding: 0;
		width: 54px;
	}


/*============== Footer ==============*/
	footer .social-label {display: none;}
	footer .social-icons a {
		font-size: 1.7em;
		padding: 0 15px;
	}
	footer .copyright{
		font-size: 0.93em;
		margin-right: 15px;
	}
}


/**********************************************************************************
 * M size only
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
	.header-container .logo-text {
		height: 124px;
	}


/*============== Buttons ==============*/
	.header-button {
		font-size: 2em;
		margin: 0 20px;
	}

	.header-button .fa-chevron-up,
	.header-button .fa-chevron-down {
		font-size: 0.3em;
	}


/*============== Menus ==============*/
	.menu-language-choice, .menu-main {
		width: 80%;
	}

	.menu-music > ul {padding-left: 1em;}

	.menu:not(.menu-playlist) li .menu-item {
		display: block;
		font-size: 1.1em;
	}

	.menu-playlist li .menu-item, .menu-playlist-wrapper .playlist-search input {
		font-size: 1em;
	}


/*============== Player ==============*/
	.player .track-progress-bar {display: none;}


/*============== Content ==============*/
	.content-version .version-info {max-width: 44%;}
}
