/**********************************************************************************
 * M sized screen - Tablet or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
	.header-container {
		display: flex;
		height: 124px;
		justify-content: center;
		overflow: visible;
	}

/*============== Ajax spinner ==============*/
	.ajax-loader {
		border-radius: 24px;
		border-right: 3px double;
		justify-content: center;
		right: calc(50% - 89px);
		top: -50px;
		width: 140px;
	}
	.ajax-loader-spinning {
		top: 160px;
	}


/*============== Buttons ==============*/
	.toggle-wrapper {
		align-items: center;
		display: flex;
		width: calc(50vw - 257px); /* (100vw - LogoWidth) / 2 */
	}

	.toggle-language-wrapper {
		justify-content: flex-start;
		order: 1;
	}

	.toggle-main-menu-wrapper {
		justify-content: flex-end;
		order: 5;
	}


/*============== Breadcrumbs ==============*/
	.breadcrumbs {text-align: center;}


/*============== Logo ==============*/
	.header-container .logo > img {
		height: 100%;
	}

	.header-container .logo-text, .header-container .logo {
		display: inline-block;
	}

	.header-container .logo-text {
		align-items: center;
		display: flex;
		font-size: 3.6em;
		width: 175px;
	}

	.header-container .logo-text-left {
		justify-content: flex-end;
		order: 2;
	}

	.header-container .logo-text-right {
		justify-content: flex-start;
		order: 4;
	}

	.header-container .logo {
		border-radius: 90px;
		height: 150px;
		margin: -12px 20px 0;
		order: 3;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 164px;
	}


/*============== Menus ==============*/
	.menu-wrapper {
		display: inline-flex;
		width: 50%;
	}

	.menu-main-wrapper {justify-content: flex-end;}

	.menu li {
		display: block;
		padding: 0 12px 2px 12px;
	}

	.menu-playlist-wrapper {bottom: 2.5em;}
	.menu-playlist {height: calc(60vh - 2.5em);}
	.menu-playlist li > a .playlist-time {margin-left: 10px;}


/*============== Content ==============*/
	.content-wrapper {
		display: flex;
		justify-content: center;
		min-height: calc(100vh - 160px - 2.5em - 2.5em); /* 100% - header-height - footer - player */
	}

	.content {
		padding: 0.67em 2em;
		width: 65em;
	}
	.content-404 {
		max-width: 65em;
		width: auto;
	}


/*============== Player ==============*/
	.player .total-time::before {
		content: "/";
		margin: 5px;
	}

	.player .player-controls {font-size: 1.6em;}
	.player .playlist, .player .player-controls a {padding: 0 15px;}


/*============== Footer ==============*/
	footer .social-label {display: none;}
	footer .social-icons a {
		font-size: 1.7em;
		padding: 0 15px;
	}
	footer .copyright{
		font-size: 0.93em;
		margin-right: 15px;
	}
}


/**********************************************************************************
 * M size only
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
	.header-container .logo-text {
		height: 124px;
	}


/*============== Buttons ==============*/
	.toggle-wrapper > a {
		margin: 0 20px;
	}


/*============== Menus ==============*/
	.menu-language-choice, .menu-main {
		width: 80%;
	}

	.menu-music > ul {padding-left: 1em;}

	.menu:not(.menu-playlist) li > a {
		display: block;
		font-size: 1.1em;
	}

	.menu-playlist li > a {
		font-size: 1em;
	}


/*============== Player ==============*/
	.player .track-progress-bar {display: none;}
}
