/**********************************************************************************
 * S sized screen - Smartphone in landscape orientation
 **********************************************************************************/
@media screen and (min-width: 35.5em) {
	.ajax-loader-spinning {width: 163px;}

/*============== Buttons ==============*/
	.button-scroll-to-top {
		bottom: 75px;
		font-size: 2.5em;
		right: 40px;
	}


/*==============  Breadcrumbs ==============*/
	.breadcrumbs ul {
		margin-left: 6px;
		margin-right: 6px;
	}
	.breadcrumbs ul li {display: inline;}

/*============== Pages ==============*/
	.content {
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 64px - 40px - 40px - 26px);
		padding: 16px 24px 10px;
	}

/*==============  Footer ==============*/
	footer .social-icons a {padding: 0 15px;}
	footer .copyright {margin-right: 15px;}
	footer .copyright-first-year, footer .copyright-ds {display: inline;}
}


/**********************************************************************************
 * S negative
 **********************************************************************************/
@media screen and (max-width: 47.99em) {
	.header-container .logo {
		margin-right: auto;
	}

	.toggle-wrapper > .selected i {border-bottom: 2px solid;}

	.header-button > .fa-chevron-down,
	.header-button > .fa-chevron-up {
		display: none;
	}

	.header-super-wrapper > .menu-wrapper > .menu > ul {padding-top: 24px;}
}

/**********************************************************************************
 * S only
 **********************************************************************************/
@media screen and (min-width: 35.5em) and (max-width: 47.99em) {
	.menu li > .menu-item {
		margin: 0 24px;
		padding: 10px 8px;
	}
}
