/**********************************************************************************
 * L sized screen - Small desktop or a laptop
 **********************************************************************************/
@media screen and (min-width: 64em) {
/*============== Header ==============*/
	header {
		max-height: 167px;
	}
	.header-container {
		height: 131px;
	}
	.header-super-wrapper {
		display: flex;
	}

/*============== Logo ==============*/
	.header-container .logo-text {
		font-size: 3.8em;
		height: 100px;
	}

	.header-button .fa-chevron-up,
	.header-button .fa-chevron-down {
		font-size: 0.5em;
	}

/*============== Content ==============*/
	.content {
		font-size: 0.95em;
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 167px - 40px - 40px - 20px);
	}

/*============== Footer ==============*/
	footer .social-label {
		display: block;
		font-size: 0.85em;
		margin-left: 10px;
	}
	footer .social-icons a {font-size: 21px;}
	footer .copyright {
		font-size: 0.85em;
		margin-right: 10px;
	}
}
