/**********************************************************************************
 * XL sized screen - Large desktop or laptop (only making use of the wider space)
 **********************************************************************************/
@media screen and (min-width: 80em) {
	.menu-main > ul, #language-menu-button {
		margin-left: 2%;
		margin-right: 2%;
	}

	.player .track-progress-bar-container {
		margin-right: 8%;
		width: 42%;
	}

	.menu-playlist {
		height: 60vh;
		max-height: calc(60vh - 2.5em - 50px); /* height - footer - search */
	}
}
