/**********************************************************************************
 * XS sized screen - Smartphone in portrait orientation
 **********************************************************************************/
@media screen and (min-width: 18.1em) and (orientation: portrait),
screen and (min-width: 20.1em) and (orientation: landscape) {
	.header-container {
		height: 64px;
	}

/*============== Buttons ==============*/
	.button-scroll-to-top {
		bottom: 95px;
		right: 20px;
	}

	.header-button {
		height: 64px;
		margin: 0 4px;
		width: 56px;
	}

/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 0 42px 42px 42px;
		float: left;
		height: 80px;
		margin-left: -10px;
		margin-top: -8px;
		padding: 5px 4px 2px 10px;
		width: 80px;
	}


	/*============== Pages ==============*/
	.content {
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 64px - 40px - 48px - 40px);
		padding: 20px 10px;
	}

	.content article {text-align: justify;}


/*============== Playlist ==============*/
	.menu-playlist {height: calc(70vh - 48px - 50px);} /* 70% - footer - search */
	.menu-playlist ul {padding: 0 5px;}
	.menu-playlist .playlist-info, .menu-playlist .playlist-time {padding-left: 5px;}

}


/**********************************************************************************
 * NEGATIVE XS
 **********************************************************************************/
@media screen and (max-width: 35.5em) {
	/* Otherwise breadcrumbs wrap arround and become unreadable on very narrow screens */
	.breadcrumbs ul {max-width: 96%;}
	.breadcrumbs li {
		max-width: 100%;
		overflow-x: hidden;
		padding: 1px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.menu-playlist-wrapper {bottom: 48px;}
	.player {height: 48px;}
	footer {margin-bottom: 48px;}
}
