/**********************************************************************************
 * M sized screen - Tablet or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
/*============== Ajax spinner ==============*/
	.ajax-loader {
		border-radius: 24px;
		border-right: 3px double;
		left: 0;
		margin: auto;
		right: 0;
	}
	.ajax-loader-spinning {
		top: 160px;
		width: 140px;
	}

/*============== Buttons ==============*/
	.button-scroll-to-top {display: none;}


/*============== Header ==============*/
	header {
		height: 160px;
		overflow: visible;
		position: relative;
	}

	.header-container {
		height: 124px;
		justify-content: center;
	}

	.header-super-wrapper {
		display: flex;
	}


/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 90px;
		height: 150px;
		margin: -12px 20px 0;
		order: 3;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 164px;
	}
	.header-container .logo > img {
		max-width: fit-content;
		width: initial; /* Workaround for Opera */
	}

	.header-container .logo-text, .header-container .logo {
		display: inline-block;
	}

	.header-container .logo-text {
		align-items: center;
		display: flex;
		font-size: 3.6em;
		height: 124px;
		width: 175px;
	}

	.header-container .logo-text-left {
		justify-content: flex-end;
		order: 2;
	}

	.header-container .logo-text-right {
		justify-content: flex-start;
		order: 4;
	}


/*============== Menu Buttons ==============*/
	.toggle-wrapper {
		align-items: center;
		display: flex;
		width: calc(50vw - 257px); /* (100vw - LogoWidth) / 2 */
	}
	.toggle-language-wrapper {
		justify-content: flex-start;
		margin-right: auto;
		order: 1;
	}

	.toggle-main-menu-wrapper {
		justify-content: flex-end;
		margin-left: auto;
		order: 5;
	}

	.header-button {
		font-size: 2em;
		height: auto;
		width: auto;
	}

	.header-button .fa-chevron-up,
	.header-button .fa-chevron-down {
		font-size: 0.3em;
	}

/*============== Breadcrumbs ==============*/
	.breadcrumbs {
		margin: 0 auto;
		text-align: center;
	}
	.breadcrumbs ul {margin-top: 0;}

/*============== Menus ==============*/
	.menu-wrapper {
		display: flex;
		flex: 0.5;
	}

	.menu-main-wrapper {justify-content: flex-end;}

	.menu li {
		padding: 0 12px 2px 12px;
	}

	.menu li > .menu-item {
		font-size: 1.1em;
	}


/*============== Playlist ==============*/
	.menu-playlist-wrapper {width: 524px;}
	.menu-playlist {
		height: 45vh;
		max-height: calc(100vh - 40px - 50px - 176px); /* 100% - footer - search - header+padding */
	}

	.menu-playlist-wrapper .playlist-search input {
		margin-top: 14px;
		padding: 8px 6px;
	}

	.menu-playlist li > .menu-item {font-size: 1em;}


/*============== Content ==============*/
	.content {
		margin: auto;
		max-width: 1033px;
		/* 100% - header-height - footer - player - self padding */
		min-height: calc(100vh - 160px - 40px - 40px - 20px);
		padding: 10px 32px;
		width: auto;
	}


/*============== Footer ==============*/
	footer .social-icons a {font-size: 27px;}
	footer .copyright {font-size: 0.93em;}
}

/**********************************************************************************
 * ONLY M
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
	.header-button {margin: 0 20px;}

	.menu-language-choice, .menu-main {
		flex: 0.8;
	}
}
