:root {
	--ajax-loader-background-color: black;

	--body-background-color: #ececec;
	--body-background-mask: rgba(255, 255, 255, 0.5);
	--body-text-color: #000;

	--link-color: #225682;
	--link-hovered-color: #0e64ad;
	--link-visited-color: #644280;
	--link-visited-hovered-color: #6518a7;

	--menu-background-color: #333;
	--menu-background-hovered-color: #444;
	--menu-text-color: #ccc;
	--menu-icon-inactive-color: #888;
	--menu-input-background-color: #1c1c1c;
	--menu-item-hovered: white;

	--menu-separator-strong: #666;
	--menu-separator-medium: #555;
	--menu-separator-soft: #444;

	--menu-border-strong: 1px solid #666;

	--shadow-bottom: 0 3px 5px rgba(50, 50, 50, 0.57);
	--shadown-bottom-right: 1px 2px 4px rgba(50,50,50,0.57);
	--shadow-top: 0 -3px 5px rgba(50, 50, 50, 0.57);
	--shadow-top-small: 0 -1px 4px rgba(50, 50, 50, 0.57);
}

body {
	background: var(--body-background-color) url(img/fon-ececec.png);
	color: var(--body-text-color);
}
header, .content-wrapper {background-color: var(--body-background-mask);}
header .logo {background: #fafafa;} /* this must never change */
hr {border-color: var(--menu-text-color);}

.ajax-loader{
	background-color: var(--ajax-loader-background-color);
	color: var(--ajax-loader-background-color);
}
.ajax-loader-spinning{
	color: var(--menu-text-color);
}

.button-scroll-to-top {
	background: var(--menu-background-color);
	box-shadow: var(--shadown-bottom-right);
	color: var(--menu-text-color);
}

.content-wrapper {box-shadow: 0 3em 3em var(--body-background-mask);} /* mask the gap when there is no player */
.content a {color: var(--link-color);}
.content a:hover {color: var(--link-hovered-color);}
.content a:visited {color: var(--link-visited-color);}
.content a:hover:visited {color: var(--link-visited-hovered-color);}
.content .content-heading {border-bottom: 1px solid var(--menu-icon-inactive-color);}
.content-discography .album-cover .fas {color: var(--menu-background-color);}
.content-discography .album-tracks .album-duration-container .album-duration-separator {border-color: var(--menu-text-color);}
.content-tune .tune-links a {border-bottom: 1px solid var(--link-color);}
.content-tune .tune-links a:visited {border-color: var(--link-visited-color);}
.content-version .version-info {border-color: var(--menu-icon-inactive-color);}

footer .social-icons a:not(:last-child) {border-right: 1px solid var(--menu-separator-medium);}

.header-container, footer, .menu, .player {
	background-color: var(--menu-background-color);
	color: var(--menu-text-color);
}

.menu-playlist {border-top: 1px solid var(--menu-icon-inactive-color);}
.menu-playlist-wrapper {
	background: var(--menu-background-color);
	border-right: var(--menu-border-strong);
	border-top: var(--menu-border-strong);
}

.menu-playlist-wrapper .playlist-search input {
	background: var(--menu-input-background-color);
	color: var(--menu-text-color);
}
.menu-playlist-wrapper .playlist-search input::placeholder {
	color: var(--menu-icon-inactive-color);
}

.menu li > .menu-item {border-bottom: var(--menu-border-strong);}
.menu .menu-item, .header-container .header-button, footer a, .player .player-button {
	background: none;
	color: var(--menu-text-color);
}

/* hover and selected */
.menu .menu-item:hover,
.header-container .header-button:hover,
footer a:hover,
.player-button:not(.disabled):hover,
.menu .selected {
	color: var(--menu-item-hovered);
}
.menu-language-choice li:first-child {border-top: var(--menu-border-strong);}
@media screen and (max-width: 64em) {
	.menu-main > ul li:first-child {border-top: var(--menu-border-strong);}
}
@media screen and (min-width: 64em) {
	.menu-music ul {border-top: var(--menu-border-strong);}
}
/* hover-only */
.menu-language-choice .menu-item:hover,
.menu-music .menu-item:hover,
.menu-playlist .menu-item:hover {
	background-color: var(--menu-background-hovered-color);
}
@media screen and (max-width: 64em) {
	.menu-main .menu-item:hover {background-color: var(--menu-background-hovered-color);}
}


.player {border-top: var(--menu-border-strong);}
.player .disabled {color: var(--menu-icon-inactive-color);}
.player .loading-indicator {color: var(--body-background-color);}
.player .player-controls .player-button {border-left: 1px solid var(--menu-separator-medium);}
.player .time-balloon-time-wrapper,
.player .time-balloon-pointer {border: 1px solid var(--menu-separator-strong);}
.player .time-balloon-time,
.player .time-balloon-pointer {
	background-color: var(--menu-background-color);
	color: var(--menu-item-hovered);
}
.player .track-progress {background: var(--menu-text-color);}
.player .track-progress-bar-background {background: var(--menu-separator-strong);}
.player-error .track-title {color: var(--menu-item-hovered);}

.shadow-bottom {box-shadow: var(--shadow-bottom);}
.shadow-top {box-shadow: var(--shadow-top);}
.shadow-top-small {box-shadow: var(--shadow-top-small);}


/**
 * Shadow replacements on XXS screens
 */
@media screen and (max-width: 18em) and (orientation: portrait),
screen and (max-width: 20em) and (orientation: landscape) {
	.header-container .shadow-bottom {box-shadow: none;}
	.header-container .logo {border-bottom: 1px solid var(--menu-separator-strong);}
}

/**
 * Link animations and special effects for desktop
 */
@media screen and (min-width: 64em) {
	.menu .menu-item,
	.header-container .header-button,
	footer a,
	.player-button {
		transition: background-color .15s ease-out, border-color .3s ease-out, color .3s ease-out;
	}

	.menu .menu-item:hover,
	.header-container .header-button:hover,
	footer a:hover,
	.player-button:hover {
		transition: background-color .066s linear, border-color .2s ease-out, color .2s ease-out;
	}


	.header-container .toggle-language-wrapper > .header-button {
		border-right: var(--menu-border-strong);
		border-top: 1px solid var(--menu-separator-soft);
	}

	.menu-main {
		background-color: transparent;
		box-shadow: none;
	}

	.menu-main > ul > li > .menu-item {
		border-left: var(--menu-border-strong);
		border-top: 1px solid var(--menu-separator-soft);
	}

	.menu-main > ul > li > .menu-item:hover, .header-container .toggle-language-wrapper > .header-button:hover {
		border-color: var(--menu-icon-inactive-color);
	}

	.menu-music {box-shadow: var(--shadow-bottom);}

	.player-loading .track-progress-bar-background {
		background-image: linear-gradient(
			135deg,
			var(--menu-separator-medium) 25%,
			var(--menu-separator-soft) 25%,
			var(--menu-separator-soft) 50%,
			var(--menu-separator-medium) 50%,
			var(--menu-separator-medium) 75%,
			var(--menu-separator-soft) 75%,
			var(--menu-separator-soft) 100%
		);
		background-size: 2em 2em;
	}
}


/**
 * Ajax spinner animations
 */
@media screen and (max-width: 48em) {
	.ajax-loader {
		transition:
		color .4s ease-out,
		opacity .4s ease-out,
		width .5s ease-out;
	}
	.ajax-loader-spinning {transition: width .1s ease-in, opacity .25s ease-in;}
}

@media screen and (min-width: 48em) {
	.ajax-loader {
		text-shadow: 0 -10px 18px var(--ajax-loader-background-color);
		transition:
			color .3s ease-out,
			opacity .6s ease-out,
			text-shadow 1s ease-out,
			top 1.1s cubic-bezier(1.000, 0.110, 0.990, 0);
	}
	.ajax-loader-spinning {
		text-shadow: 0 0 0 var(--menu-item-hovered);
		transition: opacity .15s ease-in;
	}
}
