/**********************************************************************************
 * M sized screen - Tablet or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
/*============== Content ==============*/

	.content-version .ascii-logo {
		font-size: 0.6em;
		margin: 0 16px;
	}
	.content-version .version-info {
		border-left: 1px solid;
		padding-left: 16px;
	}
}


/**********************************************************************************
 * M size only
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
/*============== Content ==============*/
	.content-version .version-info {max-width: 44%;}
}
