/**********************************************************************************
 * Debug
 **********************************************************************************/
.content:not(.content-bio) {
	display: none;
}

/**********************************************************************************
 * Reset styles
 **********************************************************************************/
.menu-closed {
	height: 0;
	overflow: hidden;
	padding: 0;
}

img {border: 0 none;}
body {
	background-image: url(img/fon-ececec.png);
	font-family: "Noto Sans", sans-serif;
}


header .logo-text {font-family: 'Griffy', cursive;}

.content article {text-align: justify;}

hr {
	border-bottom-style: none;
	border-top-style: solid;
	height: 0;
	margin: 1em 0;
}

/**********************************************************************************
 * Components
 **********************************************************************************/
 .menu li, .content-tune .tune-links li, .breadcrumbs li {
	list-style-type: none;
}

/*==============  Buttons ==============*/
.menu a, .header-container .toggle-wrapper > a, footer a, .player a {
	text-decoration: none;
}

.header-container .toggle-wrapper > a {
	display: inline-block;
	font-size: 2em;
}

.header-container .toggle-wrapper > a .fa-chevron-down, .header-container .toggle-wrapper > a .fa-chevron-up {
	font-size: 0.3em;
	vertical-align: middle;
}

.toggle-language-label {
	display: none;
}


/*==============  Breadcrumbs ==============*/
.breadcrumbs ul {
	display: inline-block;
	font-size: 0.95em;
	margin: 0 6px;
	padding: 0;
	text-align: left;
}
.breadcrumbs li {display: inline;}
.breadcrumbs li span::after {content: " / ";}
.breadcrumbs li .fas {padding-right: 0.25em;}

/*==============  Menus ==============*/
.menu > ul {
	margin: 0;
	padding: 0 0 12px 0;
}

.menu li > a {padding: 12px 8px;}
.menu-music li:first-child a {padding-top: 0;}

.menu li > a .icon {margin: 0 10px 0 6px;}
.menu-main li > a .fa-chevron-down {
	font-size: 0.5em;
	vertical-align: middle;
}


/*============== Language Menu ==============*/
.menu-language-choice a .flag {
	background: url(img/znamena.png) no-repeat;
	border-radius: 3px;
	display: inline-block;
	height: 18px;
	vertical-align: middle;
	width: 24px;
}

.menu-language-choice a .flag-bg{background-position:0 0;}
.menu-language-choice a .flag-en{background-position:-48px 0;}
.menu-language-choice a .flag-fr{background-position:-24px 0;}


/*============== Playlist Menu ==============*/
.menu-playlist-wrapper {position: fixed;}
.menu-playlist {
	border-radius: 10px;
	margin: 12px 6px 0 0;
	overflow-y: auto;
}
.menu-playlist > ul {padding: 0 5px;}
.menu-playlist li > a {
	cursor: pointer;
	display: flex;
}
.menu-playlist li > a .playlist-title {flex: auto;}


/*==============  Player ==============*/
.player {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 2.5em;
	position: fixed;
	width: 100%;
}

.player .track-progress-bar-container, .player .player-controls {
	display: inline-flex;
}

.player .track-title {
	flex: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.player .track-progress-bar-container {padding: 0 10px;}
.player .track-progress-bar {
	cursor: pointer;
	display: inline-block;
}

.player .track-progress-bar .track-progress {
	border-radius: inherit;
	height: 100%;
	width: 22%;
}


/*==============  Footer ==============*/
footer {
	align-items: center;
	display: flex;
	height: 2.5em;
	margin-bottom: 2.5em; /* make room for the player */
}

footer .social {
	align-items: center;
	display: flex;
	width: 75%;
}

footer .copyright {
	display: flex;
	justify-content: flex-end;
	width: 25%;
}
footer .copyright-copy, footer .copyright-last-year {
	margin-right: 3px;
}


/**********************************************************************************
 * Pages styles
 **********************************************************************************/
.content .content-heading {
	border-bottom-right-radius: 0.8em;
	overflow: hidden;
	padding: 0 0.5em 0.2em 0.1em;
	text-overflow: ellipsis;
}

.content-404 {text-align: center;}


/*============== Lyrics ==============*/
.content-lyrics .lyrics-wrapper {
	margin: 0 0.4em;
	text-align: center;
}
.content-lyrics .english-translation-link {
	display: block;
	margin: 1em;
}
.content-lyrics .lyrics {
	display: inline-block;
	text-align: left;
}

/*============== Home ==============*/
.content-home article .news-title {margin-top: 1.5em;}
.content-home article .tune-link {font-style: italic;}


/*============== Tune ==============*/
.content-tune .tune-title {
	font-weight: normal;
	margin: 0.4em auto;
}
.content-tune .tune-title a {text-decoration: none;}
.content-tune .tune-release-date {margin: 0.5em 0.5em 1.33em;}

.content-tune .tune-links {
	margin: 0;
	padding: 0 5px;
}

.content-tune .tune-links li {
	display: inline-block;
	margin-bottom: 10px;
}

.content-tune .tune-links a {
	border-bottom-left-radius: 10px;
	padding: 5px 10px;
	text-decoration: none;
}
.content-tune .tune-links a .fas {
	font-size: 1.3em;
	margin: 5px;
}


/*============== Discography ==============*/
.content-discography .album-title {
	margin: 0;
	text-align: center;
}

.content-discography .album-contents-wrapper {display: flex;}

.content-discography .album-cover {
	height: 10em;
	margin-right: 1.33em;
	overflow: hidden;
	width: 11em;
}
.content-discography .album-cover .fas {
	font-size: 11em;
	position: relative;
	top: 24px;
}

.content-discography .album-tracks {
	flex: auto;
	padding-left: 20px;
	text-align: left;
}
.content-discography .album-tracks li {margin: 4px 0;}
.content-discography .album-tracks .track-title {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 50px);
}
.content-discography .album-tracks .track-length {
	display: inline-block;
	text-align: right;
	width: 45px;
}
