:root {
	--body-background-color: #ececec;
	--body-background-mask: rgba(255, 255, 255, 0.5);
	--body-text-color: #000;

	--link-color: #225682;
	--link-hovered-color: #0e64ad;
	--link-visited-color: #562282;

	--menu-background-color: #333;
	--menu-text-color: #ccc;
	--menu-icon-inactive-color: #888;


	--menu-separator-strong: #666;
	--menu-separator-medium: #555;
	--menu-separator-soft: #444;
}

body {
	background: var(--body-background-color);
	color: var(--body-text-color);
}
header, .content-wrapper {background-color: var(--body-background-mask);}
header .logo {background: #fafafa;} /* this must never change */
hr {border-color: var(--menu-text-color);}

.content a {color: var(--link-color);}
.content a:hover {color: var(--link-hovered-color);}
.content a:visited {color: var(--link-visited-color);}
.content .content-heading {border-bottom: 1px solid var(--menu-icon-inactive-color);}
.content-tune .tune-links a {border-bottom: 1px solid var(--link-color);}
.content-discography .album-cover .fas {color: var(--menu-background-color);}
.content-tune .tune-links a:hover {
	border-color: var(--link-hovered-color);
	color: var(--link-hovered-color);
}

footer .social-icons a:not(:last-child) {border-right: 1px solid var(--menu-separator-medium);}

.header-container, footer, .menu, .player {
	background-color: var(--menu-background-color);
	color: var(--menu-text-color);
}

.menu-playlist-wrapper {
	background: var(--menu-background-color);
	border-right: 1px solid var(--menu-separator-strong);
	border-top: 1px solid var(--menu-separator-strong);
}

.menu li > a {border-bottom: 1px solid var(--menu-separator-strong);}

.menu a:hover, .header-container .toggle-wrapper > a:hover, footer a:hover, .player a:hover,
.menu .selected {
	color: white;
}
.menu a, .header-container .toggle-wrapper > a, footer a, .player a {
	color: var(--menu-text-color);
}

.menu-playlist {border-top: 1px solid var(--menu-icon-inactive-color);}

.player {border-top: 1px solid var(--menu-separator-strong);}
.player .track-progress-bar {background: var(--menu-icon-inactive-color);}
.player .track-progress-bar .track-progress {background: var(--body-background-color);}
.player .player-controls a {border-left: 1px solid var(--menu-separator-medium);}
.player .player-controls .fa-volume-mute {color: var(--menu-icon-inactive-color);}

.shadow-top {box-shadow: 0 -3px 5px rgba(50, 50, 50, 0.57);}
.shadow-bottom {box-shadow: 0 3px 5px rgba(50, 50, 50, 0.57);}

/**
 * Link animations and special effects for desktop
 */
@media screen and (min-width: 64em) {
	.menu a,
	.header-container .toggle-wrapper > a,
	footer a,
	.player a,
	.content-tune a {
		transition: border-color .3s ease-out, color .3s ease-out;
	}

	.menu a:hover,
	.header-container .toggle-wrapper > a:hover,
	footer a:hover,
	.player a:hover,
	.content-tune a:hover {
		transition: border-color .2s ease-in, color .2s ease-in;
	}


	.header-container .toggle-language-wrapper > a {
		border-right: 1px solid var(--menu-separator-strong);
		border-top: 1px solid var(--menu-separator-soft);
	}

	.menu-main > ul > li > a {
		border-left: 1px solid var(--menu-separator-strong);
		border-top: 1px solid var(--menu-separator-soft);
	}

	.menu-main > ul > li > a:hover, .header-container .toggle-language-wrapper > a:hover {
		border-color: var(--menu-icon-inactive-color);
	}
}
