/**********************************************************************************
 * L sized screen - Small desktop or a laptop
 **********************************************************************************/
@media screen and (min-width: 64em) {
/*============== General ==============*/
	.header-container {
		height: 131px;
	}

	.header-super-wrapper {
		display: flex;
	}

	.menu li > a {
		font-size: 1em;
	}

	.header-container .logo-text {
		font-size: 3.8em;
		height: 100px;
		line-height: 100px;
	}

	.header-container .toggle-main-menu-wrapper a {
		display: none; /* No main menu button on large screens */
	}

	.menu-language-choice li > a, .menu-music li > a {display: block;}


/*============== Language Menu ==============*/
	.header-container .toggle-language-wrapper {
		align-items: flex-end;
	}

	.header-container .toggle-language-wrapper > a {
		border-bottom: 0 none;
		border-radius: 4px;
		font-size: 1em;
		margin: 4px 6px;
		padding: 6px 8px;
	}

	.toggle-language-label {
		display: inline;
	}

	.language-choice-wrapper {
		display: block;
	}

	.menu-language-choice {
		display: inline-block;
		min-width: 300px;
	}


/*============== Main Menu ==============*/
	.menu-main-wrapper {
		display: flex;
		position: relative;
		top: -37px;
	}

	.menu-main {
		background-color: transparent;
		box-shadow: none;
		display: block;
		height: auto;
		min-width: 380px;
		overflow: initial; /* otherwise menu-music has no shadow */
		text-align: right;
		width: inherit;
	}

	.menu-main > ul, .menu-main > ul > li, .menu-main > ul > li > a {
		display: inline-block;
		text-align: initial;
	}

	.menu-main > ul {
		margin-right: 6px;
		padding-bottom: 0;
	}

	.menu-main > ul > li {
		padding: 0;
	}

	.menu-main > ul > li > a {
		border-bottom: 0 none;
		border-radius: 4px;
		padding: 6px 8px;
	}

	/* expanded menus button spacing */
	.menu-main > ul > li > a .icon, .header-container .toggle-language-wrapper .icon {
		margin: 0 4px 0 2px;
	}


/*============== Music Menu ==============*/
	.menu-music > ul {
		display: flex;
		flex-flow: column;
		text-align: initial;
	}
	.menu-music li:first-child a {padding-top: 12px;}


/*============== Playlist Menu ==============*/
	.menu-playlist li > a {font-size: 0.9em;}


/*============== Content ==============*/
	.content-wrapper {
		min-height: calc(100vh - 167px - 2.5em - 2.5em); /* 100% - header-height - footer - player */
	}
	.content {
		font-size: 0.95em;
		max-width: 68em;
		padding: 0.7em 2.1em;
	}


/*============== Player ==============*/
	.player .track-title, .player .track-progress-bar-container {font-size: 0.9em;}
	.player .fas:not(.fa-chevron-up) {font-size: 1.2em;}

	.player .track-progress-bar-container {
		align-items: center;
		flex: auto;
		width: 38%;
	}
	.player .track-progress-bar {
		border-radius: 0.5em;
		flex: auto;
		height: 1em;
		margin: 0 8px;
	}
	.player .track-progress-bar-background {
		height: 0.5em;
		margin-top: 0.25em;
	}
	.player .track-progress {
		height: 100%;
		width: 0;
	}

	.player .total-time::before {content: ""; margin: 0 auto;}

/*============== Footer ==============*/
	footer .social-label {
		display: block;
		font-size: 0.85em;
		margin-left: 10px;
	}
	footer .social-icons a {font-size: 1.3em;}
	footer .copyright {
		font-size: 0.85em;
		margin-right: 10px;
	}

/*============== Pages ==============*/
	.lyrics-super-wrapper {display: flex;}
	.content-lyrics .lyrics-wrapper {
		display: flex;
		flex-flow: column;
		text-align: left;
	}
	.content-lyrics .lyrics-wrapper .lyrics {white-space: nowrap;}
	.content-lyrics .english-translation-link {display: none;}
}
