/*============== Header ==============*/
.header-container {
	display: flex;
	overflow: visible;
}


/*============== Logo ==============*/
.header-container .logo {
	z-index: 100;
}
.header-container .logo-text{display: none;}
.header-container .logo > img {
	height: 100%;
	width: 100%;
}


/*============== Menu Buttons ==============*/
.toggle-wrapper {
	align-items: center;
	display: flex;
}

.header-button {
	align-items: center;
	display: flex;
	font-size: 2em;
	justify-content: center;
}
.header-button .toggle-label {display: none;}

header .fa-chevron-down, header .fa-chevron-up {
	font-size: 0.5em;
	margin: 3px 0 0 4px;
}

.player .player-button {
	display: inline-block;
	padding: 0;
}

.toggle-theme-wrapper .header-button .fa-lightbulb {font-size: 0.8em;}
