/*******************************************
 * General
 *******************************************/

.shadow-top {
	box-shadow: 0 -3px 5px rgba(50, 50, 50, 0.57);
}

.shadow-bottom {
	box-shadow: 0 3px 5px rgba(50, 50, 50, 0.57);
}

body {
	background: #ececec;
	background-image: url(img/fon-ececec.png);
}

img {
	border: 0 none;
}

header, footer, .menu {
	background-color: #333;
	color: #ccc;
}

.menu-music{
	display: none;
}

.menu a{
	color: #ccc;
	text-decoration: none;
}

header .logo {
	background: #fafafa;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

/*******************************************
 * Top Bar
 *******************************************/
@media screen and (max-width: 35.5em) { /* phone-sized screen */
	.header-mobile {
		clear: both;
		height: 64px;
		overflow: visible;
	}

	.header-mobile .logo {
		border-radius: 0 42px 42px 42px;
		float: left;
		margin-top: -8px;
		margin-left: -10px;
		padding: 5px 4px 2px 10px;

		height: 80px;
		width: 80px;
	}

	.header-mobile .logo > img {
		height: 100%;
		width: 100%;
	}

/*============== Mobile Menu ==============*/

	.header-mobile .menu-mobile {
		float: right;
	}

	.header-mobile .menu-mobile > a {
		color: #ccc;
		display: inline-block;
		font-size: 36px;
		line-height: 64px;
		margin: 0 16px;
		text-decoration: none;

		transition: color .3s ease-out;
	}
	.header-mobile .menu-mobile > a:hover {
		color: white;
		transition: color .3s ease-in;
	}

	.header-mobile .menu-mobile > a.selected {
		border-bottom: 2px solid;
		color: white;
		line-height: 62px;
	}

	.header-mobile .menu-mobile > a .fa-chevron-down, .header-mobile .menu-mobile > a .fa-chevron-up {
		font-size: 0.4em;
		vertical-align: middle;
	}

/*============== Language / Main Menu / Music Menu ==============*/
	.menu-language-choice, .menu-main {
		display: none;
		margin-top: -22px;
	}

	.menu-language-choice > ul, .menu-main > ul {
		padding: 24px 0 12px 0;
	}

	.menu li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.menu li > a {
		border-bottom: 1px solid #666;
		display: block;
		font-size: 1.3em;
		padding: 12px 8px;
		text-align: left;
	}

	.menu-language-choice a .flag {
		background: url(img/ikoni.png) no-repeat;
		border-radius: 3px;
		display: inline-block;
		height: 18px;
		margin: 0 2px;
		vertical-align: middle;
		width: 24px;
	}

	.menu-language-choice a .flag.flag-bg{background-position:-464px 0;}
	.menu-language-choice a .flag.flag-en{background-position:-464px -18px;}

	.menu-main li > a .icon {
		margin: 0 10px 0 6px;
	}

	.menu-main li > a .fa-chevron-down {
		font-size: 0.5em;
		vertical-align: middle;
	}

	.menu-music {
		display: none;
	}

/*============== Footer ==============*/
	footer {
		height: 40px;
	}
}


