/*==============  Debug ==============*/
.screen-test {display: none; text-align: center;}

/**********************************************************************************
 * General / Reset styles
 **********************************************************************************/
.shadow-top {box-shadow: 0 -3px 5px rgba(50, 50, 50, 0.57);}
.shadow-bottom {box-shadow: 0 3px 5px rgba(50, 50, 50, 0.57);}
img {border: 0 none;}
body {
	background: #ececec;
	background-image: url(img/fon-ececec.png);
}

.header-container, footer, .menu {
	background-color: #333;
	color: #ccc;
}

header .logo {
	background: #fafafa;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.menu-open{height: auto !important;}

/*==============  Buttons ==============*/
header .menu a, .header-container .toggle-wrapper > a {
	color: #ccc;
	text-decoration: none;
}

header .menu a:hover, .header-container .toggle-wrapper > a:hover {
	color: white;
}

.header-container .toggle-wrapper > .selected, .header-container .menu > .selected {
	color: white;
}

.header-container .toggle-wrapper > a {
	display: inline-block;
	font-size: 2em;
}

.header-container .toggle-wrapper > a .fa-chevron-down, .header-container .toggle-wrapper > a .fa-chevron-up {
	font-size: 0.3em;
	vertical-align: middle;
}

.toggle-language-label {
	display: none;
}

/*==============  Menus ==============*/
header .menu-music {
	height: 0;
	overflow: hidden;
}

header .menu-music > ul {
	margin-top: 0;
}

/*============== Language Menu ==============*/
.menu-language-choice a .flag {
	background: url(img/ikoni.png) no-repeat;
	border-radius: 3px;
	display: inline-block;
	height: 18px;
	margin: 0 2px;
	vertical-align: middle;
	width: 24px;
}

.menu-language-choice a .flag-bg{background-position:-464px 0;}
.menu-language-choice a .flag-en{background-position:-464px -18px;}
.menu-language-choice a .flag-fr{background-position:-488px 0;}

/**********************************************************************************
 * Any Phone screen
 **********************************************************************************/
@media screen and (max-width: 47.99em) {
	.header-container {
		clear: both;
		height: 64px;
		overflow: visible;
	}

/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 0 42px 42px 42px;
		float: left;
		height: 80px;
		margin-left: -10px;
		margin-top: -8px;
		padding: 5px 4px 2px 10px;
		width: 80px;
	}

	.header-container .logo > img {
		height: 100%;
		width: 100%;
	}

	.header-container .logo-text {
		display: none;
	}

/*============== Buttons ==============*/
	.toggle-wrapper {
		float: right;
	}

	.toggle-wrapper > a {
		line-height: 64px;
		margin: 0 16px;
	}

	.toggle-wrapper > .selected {
		border-bottom: 2px solid;
		line-height: 62px;
	}

	.header-container .toggle-wrapper > a > .fa-chevron-down, .header-container .toggle-wrapper > a > .fa-chevron-up {
		display: none;
	}

/*============== Menus ==============*/
	.menu-language-choice, .menu-main {
		display: none;
		margin-top: -22px;
	}

	.menu-language-choice > ul, .menu-main > ul {
		padding: 24px 0 12px 0;
	}

	.menu-main > ul {
		margin-bottom: 0;
	}

	header .menu li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	header .menu li > a {
		border-bottom: 1px solid #666;
		display: block;
		font-size: 1.15em;
		padding: 12px 8px;
		text-align: left;
	}

	.menu-main li > a .icon {
		margin: 0 10px 0 6px;
	}

	.menu-main li > a .fa-chevron-down {
		font-size: 0.5em;
		vertical-align: middle;
	}

/*============== Content ==============*/
	.content {
		margin: 25px 0 50px;
	}

	.screen-xs {
		display: block;
	}
}


/**********************************************************************************
 * Phone in landscape orientation or small tablet.
 * Just making use of the wider horizontal space.
 **********************************************************************************/
@media screen and (min-width: 35.5em) and (max-width: 47.99em) {
	.menu-mobile {
		margin-right: 16px;
	}

	header .menu li > a {
		margin: 0 24px;
		padding: 10px 8px;
	}

/*============== Content ==============*/
	.screen-s {
		display: block;
	}
}


/**********************************************************************************
 * Tablet sized screen
 **********************************************************************************/
@media screen and (min-width: 48em) {
	.header-container {
		display: flex;
		height: 124px;
		justify-content: center;
		overflow: visible;
	}

/*============== Logo ==============*/
	.header-container .logo-text, .header-container .logo {
		display: inline-block;
	}

	.header-container .logo-text {
		font-size: 3em;
		height: 100px;
		line-height: 100px;
		width: 175px;
	}

	.header-container .logo-text-left {
		order: 2;
		text-align: right;
	}

	.header-container .logo-text-right {
		order: 4;
		text-align: left;
	}

	.header-container .logo {
		border-radius: 90px;
		height: 150px;
		margin: -12px 20px 0;
		order: 3;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 164px;
	}

	.header-container .logo > img {
		height: 100%;
	}

/*============== Buttons ==============*/
	.toggle-wrapper {
		align-items: center;
		display: flex;
		width: calc(50vw - 257px); /* (100vw - LogoWidth) / 2 */
	}

	.toggle-language-wrapper {
		justify-content: flex-start;
		order: 1;
	}

	.toggle-main-menu-wrapper {
		justify-content: flex-end;
		order: 5;
	}

	.toggle-wrapper > a {
		margin: 0 20px;
	}

/*============== Menus ==============*/
	.menu-wrapper {
		display: inline-flex;
		width: 50%;
	}

	.menu-main-wrapper {
		justify-content: flex-end;
	}

	.menu-language-choice, .menu-main {
		display: none;
	}

	.menu-language-choice, .menu-main {
		width: 80%;
	}

	.menu-language-choice > ul, .menu-main > ul {
		margin: 0 0 12px 0;
		padding: 0;
	}

	header .menu li {
		list-style-type: none;
		margin: 0;
		padding: 0 12px 2px 12px;
	}

	header .menu li > a {
		border-bottom: 1px solid #666;
		display: block;
		font-size: 1.1em;
		padding: 12px 8px;
		text-align: left;
	}

	.menu-main li > a .icon {
		margin: 0 10px 0 6px;
	}

	.menu-main li > a .fa-chevron-down {
		font-size: 0.5em;
		vertical-align: middle;
	}

/*============== Content ==============*/
	.content {
		margin: 40px 0 50px;
	}

	.screen-m {display: block;}
}


/**********************************************************************************
 * Desktop, small
 **********************************************************************************/
@media screen and (min-width: 64em) {
	.header-container {
		height: 131px;
	}

	header .menu a, .header-container .toggle-wrapper > a {
		transition: border-color .3s ease-out, color .3s ease-out;
	}

	header .menu a:hover, .header-container .toggle-wrapper > a:hover {
		transition: border-color .2s ease-in, color .2s ease-in;
	}

	header .menu li > a {
		font-size: 1em;
	}

/*============== No main menu button on large screens ==============*/
	.header-container .toggle-main-menu-wrapper a {
		display: none;
	}

/*============== Language Menu ==============*/
	.header-container .toggle-language-wrapper {
		align-items: flex-end;
	}

	.header-container .toggle-language-wrapper > a {
		border-bottom: 0 none;
		border-radius: 4px;
		border-right: 1px solid #666;
		border-top: 1px solid #444;
		font-size: 1em;
		margin: 4px 6px;
		padding: 6px 8px;
	}

	.toggle-language-label {
		display: inline;
	}

	.menu-language-choice {
		min-width: 300px;
		width: auto;
	}

/*============== Main Menu ==============*/
	.menu-main-wrapper {
		position: relative;
		top: -37px;
	}

	.menu-main {
		align-content: flex-start;
		background-color: transparent;
		box-shadow: none;
		display: inline-flex;
		flex-flow: wrap;
		justify-content: flex-end;
		width: 80%;
	}

	.menu-main > ul, .menu-main > ul > li, .menu-main > ul > li > a {
		display: inline-block;
	}

	.menu-main > ul {
		margin: 0 10px 0 0;
	}

	.menu-main > ul > li {
		padding: 0;
	}

	.menu-main > ul > li > a {
		border-bottom: 0 none;
		border-left: 1px solid #666;
		border-radius: 4px;
		border-top: 1px solid #444;
		padding: 6px 8px;
	}

	.menu-main > ul > li > a:hover, .header-container .toggle-language-wrapper > a:hover {
		border-color: #888;
	}

	.menu-main > ul > li > a .icon, .header-container .toggle-language-wrapper .icon {
		margin: 0 4px 0 2px;
	}
/*============== Music Menu ==============*/
	.menu-music > ul {
		display: flex;
		flex-flow: column;
		padding: 0;
	}

	.screen-m {display: none;}
	.screen-l {display: block;}
}

/**********************************************************************************
 * Desktop, large
 **********************************************************************************/
@media screen and (min-width: 80em) {
	.menu-main > ul {
		margin-right: 1%;
	}

	.screen-m {display: none;}
	.screen-l {display: none;}
	.screen-xl {display: block;}
}
