/*==============  Debug ==============*/
.screen-test {display: none; text-align: center;}

/**********************************************************************************
 * General / Reset styles
 **********************************************************************************/
.shadow-top {box-shadow: 0 -3px 5px rgba(50, 50, 50, 0.57);}
.shadow-bottom {box-shadow: 0 3px 5px rgba(50, 50, 50, 0.57);}
.menu-closed {
	height: 0;
	overflow: hidden;
	padding: 0;
}
img {border: 0 none;}
body {
	background: #ececec;
	background-image: url(img/fon-ececec.png);
	font-family: "Noto Sans", sans-serif;
}

.header-container, footer, .menu, .player {
	background-color: #333;
	color: #ccc;
}

header .logo {
	background: #fafafa;
}

header .logo-text {
	font-family: 'Griffy', cursive;
}

.content {
	background-color: #fff;
}

/**********************************************************************************
 * Components
 **********************************************************************************/

/*==============  Buttons ==============*/
header .menu a, .header-container .toggle-wrapper > a, footer a, .player a {
	color: #ccc;
	text-decoration: none;
}

header .menu a:hover, .header-container .toggle-wrapper > a:hover, footer a:hover {
	color: white;
}

.header-container .toggle-wrapper > .selected, .header-container .menu > .selected {
	color: white;
}

.header-container .toggle-wrapper > a {
	display: inline-block;
	font-size: 2em;
}

.header-container .toggle-wrapper > a .fa-chevron-down, .header-container .toggle-wrapper > a .fa-chevron-up {
	font-size: 0.3em;
	vertical-align: middle;
}

.toggle-language-label {
	display: none;
}


/*==============  Menus ==============*/
header .menu-music > ul {
	margin-top: 0;
}

header .menu li {
	list-style-type: none;
}

header .menu li > a {
	border-bottom: 1px solid #666;
	text-align: left;
}


/*============== Language Menu ==============*/
.menu-language-choice a .flag {
	background: url(img/znamena.png) no-repeat;
	border-radius: 3px;
	display: inline-block;
	height: 18px;
	margin: 0 2px;
	vertical-align: middle;
	width: 24px;
}

.menu-language-choice a .flag-bg{background-position:0 0;}
.menu-language-choice a .flag-en{background-position:-48px 0;}
.menu-language-choice a .flag-fr{background-position:-24px 0;}


/*==============  Player ==============*/
.player {
	align-items: center;
	border-top: 1px solid #666;
	bottom: 0;
	display: flex;
	height: 2.5em;
	position: fixed;
	width: 100%;
}

.player .track-progress-bar-container, .player .player-controls {
	display: inline-flex;
}

.player .track-title {
	flex: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.player .track-progress-bar {
	background: #888;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
}

.player .track-progress-bar .track-progress {
	background: #ececec;
	border-radius: inherit;
	height: 100%;
	width: 22%;
}

.player .track-progress-bar .track-progress {
	color: #ececec;
}

.player .player-controls a {border-left: 1px solid #555;}

/*.player .playlist > .fa-play {
	background: #333;
	font-size: 0.35em;
	left: -4em;
	padding: 2px 4px;
	position: relative;
	vertical-align: top;
}
*/


/*==============  Footer ==============*/
footer {
	align-items: center;
	display: flex;
	height: 2.5em;
	margin-bottom: 2.5em; /* make room for the player */
}

footer .social {
	align-items: center;
	display: flex;
	width: 75%;
}
footer .social-icons a:not(:last-child) {
	border-right: 1px solid #555;
}

footer .copyright {
	display: flex;
	justify-content: flex-end;
	width: 25%;
}
footer .copyright-copy, footer .copyright-last-year {
	margin-right: 3px;
}

/**********************************************************************************
 * Any Phone screen
 **********************************************************************************/
@media screen and (max-width: 47.99em) {
	.header-container {
		clear: both;
		height: 64px;
		overflow: visible;
	}


/*============== Logo ==============*/
	.header-container .logo {
		border-radius: 0 42px 42px 42px;
		float: left;
		height: 80px;
		margin-left: -10px;
		margin-top: -8px;
		padding: 5px 4px 2px 10px;
		width: 80px;
	}

	.header-container .logo > img {
		height: 100%;
		width: 100%;
	}

	.header-container .logo-text {
		display: none;
	}


/*============== Buttons ==============*/
	.toggle-wrapper {
		float: right;
	}

	.toggle-wrapper > a {
		line-height: 64px;
		margin: 0 16px;
	}

	.toggle-wrapper > .selected {
		border-bottom: 2px solid;
		line-height: 62px;
	}

	.header-container .toggle-wrapper > a > .fa-chevron-down, .header-container .toggle-wrapper > a > .fa-chevron-up {
		display: none;
	}


/*============== Menus ==============*/
	.menu-language-choice > ul, .menu-main > ul {
		margin: 0 auto;
		padding: 24px 0 12px 0;
	}

	header .menu li {
		margin: 0;
		padding: 0;
	}

	header .menu li > a {
		display: block;
		font-size: 1.15em;
		padding: 12px 8px;
		text-align: left;
	}

	.menu-main li > a .icon {
		margin: 0 10px 0 6px;
	}

	.menu-main li > a .fa-chevron-down {
		font-size: 0.5em;
		vertical-align: middle;
	}


/*============== Content ==============*/
	.content {
		height: calc(100vh - 64px - 75px - 3em); /* 100 - header-height - padding - player */
		margin: 25px 0 50px;
	}


/*============== Player ==============*/
	.player {height: 3em;}
	.player .track-progress-bar-container, .player .player-controls .volume {display: none;}
	.player .fas:not(.fa-chevron-up) {font-size: 1.7em;}
	.player .track-title {margin-right: 5px;}

	.player .playlist, .player .player-controls a {padding: 0 10px;}


/*============== Footer ==============*/
	footer {margin-bottom: 3em;}
	footer .copyright-first-year, footer .copyright-ds, footer .social-label {display: none;}
	footer .social-icons a {
		font-size: 1.8em;
		padding: 0 10px;
	}
	footer .copyright {margin-right: 5px;}


/*============== Debug ==============*/
	.screen-xs {
		display: block;
	}
}


/**********************************************************************************
 * Phone in landscape orientation or small tablet.
 * Just making use of the wider horizontal space.
 **********************************************************************************/
@media screen and (min-width: 35.5em) and (max-width: 47.99em) {
	.menu-mobile {margin-right: 16px;}

	header .menu li > a {
		margin: 0 24px;
		padding: 10px 8px;
	}

	.content {
		height: calc(100vh - 64px - 75px - 2.5em); /* 100 - header-height - padding - player */
	}

	.player {height: 2.5em;}
	.player .playlist, .player .player-controls a {padding: 0 15px;}
	.player .track-progress-bar {display: none;}
	.player .track-progress-bar-container{
		display: inline-flex;
		padding: 0 10px;
	}
	.player .total-time::before {
		content: "/";
		margin: 5px;
	}

	footer {margin-bottom: 2.5em;}
	footer .social-icons a {padding: 0 15px;}
	footer .copyright{margin-right: 15px;}
	footer .copyright-first-year, footer .copyright-ds {display: inline;}


/*============== Debug ==============*/
	.screen-s {
		display: block;
	}
}


/**********************************************************************************
 * Tablet sized screen or larger
 **********************************************************************************/
@media screen and (min-width: 48em) {
	.header-container {
		display: flex;
		height: 124px;
		justify-content: center;
		overflow: visible;
	}


/*============== Buttons ==============*/
	.toggle-wrapper {
		align-items: center;
		display: flex;
		width: calc(50vw - 257px); /* (100vw - LogoWidth) / 2 */
	}

	.toggle-language-wrapper {
		justify-content: flex-start;
		order: 1;
	}

	.toggle-main-menu-wrapper {
		justify-content: flex-end;
		order: 5;
	}


/*============== Logo ==============*/
	.header-container .logo > img {
		height: 100%;
	}

	.header-container .logo-text, .header-container .logo {
		display: inline-block;
	}

	.header-container .logo-text {
		font-size: 3.6em;
		width: 175px;
	}

	.header-container .logo-text-left {
		order: 2;
		text-align: right;
	}

	.header-container .logo-text-right {
		order: 4;
		text-align: left;
	}

	.header-container .logo {
		border-radius: 90px;
		height: 150px;
		margin: -12px 20px 0;
		order: 3;
		overflow: hidden;
		padding: 5px;
		text-align: center;
		width: 164px;
	}


/*============== Menus ==============*/
	.menu-wrapper {
		display: inline-flex;
		width: 50%;
	}

	.menu-main-wrapper {
		justify-content: flex-end;
	}

	.menu-language-choice > ul, .menu-main > ul {
		margin: 0 0 12px 0;
		padding: 0;
	}

	header .menu li {
		margin: 0;
		padding: 0 12px 2px 12px;
	}

	header .menu li {
		display: block;
	}

	.menu-main li > a .fa-chevron-down {
		font-size: 0.5em;
		vertical-align: middle;
	}


/*============== Content ==============*/
	.content {
		height: calc(100vh - 164px - 90px - 2.5em); /* 100 - header-height - padding - player */
		margin: 40px 0 50px;
	}


/*============== Player ==============*/
	.player .track-progress-bar-container {padding: 0 10px;}
	.player .total-time::before {
		content: "/";
		margin: 5px;
	}

	.player .fas:not(.fa-chevron-up) {font-size: 1.6em;}
	.player .playlist, .player .player-controls a {padding: 0 15px;}
	.player .player-controls .fa-volume-mute {color: #888;}


/*============== Footer ==============*/
	footer .social-label {display: none;}
	footer .social-icons a {
		font-size: 1.7em;
		padding: 0 15px;
	}
	footer .copyright{
		font-size: 0.93em;
		margin-right: 15px;
	}


/*============== Debug ==============*/
	.screen-m {display: block;}
}


/**********************************************************************************
 * Tablet size only
 **********************************************************************************/
@media screen and (min-width: 48em) and (max-width: 63.99em) {
	.header-container .logo-text {
		height: 124px;
		line-height: 124px;
	}


/*============== Buttons ==============*/
	.toggle-wrapper > a {
		margin: 0 20px;
	}


/*============== Menus ==============*/
	.menu-language-choice, .menu-main {
		width: 80%;
	}

	header .menu li > a {
		display: block;
		font-size: 1.1em;
		padding: 12px 8px;
	}

	.menu-main li > a .icon {
		margin: 0 10px 0 6px;
	}

/*============== Player ==============*/
	.player .track-progress-bar {display: none;}
}


/**********************************************************************************
 * Desktop, small
 **********************************************************************************/
@media screen and (min-width: 64em) {
	.header-container {
		height: 131px;
	}

	.header-super-wrapper {
		display: flex;
	}

	header .menu a, .header-container .toggle-wrapper > a, footer a {
		transition: border-color .3s ease-out, color .3s ease-out;
	}

	header .menu a:hover, .header-container .toggle-wrapper > a:hover, footer a {
		transition: border-color .2s ease-in, color .2s ease-in;
	}

	header .menu li > a {
		font-size: 1em;
	}

	.header-container .logo-text {
		font-size: 3.8em;
		height: 100px;
		line-height: 100px;
	}

	.header-container .toggle-main-menu-wrapper a {
		display: none; /* No main menu button on large screens */
	}


/*============== Language Menu ==============*/
	.header-container .toggle-language-wrapper {
		align-items: flex-end;
	}

	.header-container .toggle-language-wrapper > a {
		border-bottom: 0 none;
		border-radius: 4px;
		border-right: 1px solid #666;
		border-top: 1px solid #444;
		font-size: 1em;
		margin: 4px 6px;
		padding: 6px 8px;
	}

	.toggle-language-label {
		display: inline;
	}

	.language-choice-wrapper {
		display: block;
	}

	.menu-language-choice {
		display: inline-block;
		min-width: 300px;
	}

	.menu-language-choice li > a, .menu-music li > a{
		display: block;
		padding: 12px 8px;
	}


/*============== Main Menu ==============*/
	.menu-main-wrapper {
		position: relative;
		top: -37px;
	}

	.menu-main {
		align-content: flex-start;
		background-color: transparent;
		box-shadow: none;
		display: inline-flex;
		flex-flow: wrap;
		height: auto;
		justify-content: flex-end;
		width: 80%;
	}

	.menu-main > ul, .menu-main > ul > li, .menu-main > ul > li > a {
		display: inline-block;
	}

	.menu-main > ul {
		margin-bottom: 0;
		margin-right: 6px;
	}

	.menu-main > ul > li {
		padding: 0;
	}

	.menu-main > ul > li > a {
		border-bottom: 0 none;
		border-left: 1px solid #666;
		border-radius: 4px;
		border-top: 1px solid #444;
		padding: 6px 8px;
	}

	.menu-main > ul > li > a:hover, .header-container .toggle-language-wrapper > a:hover {
		border-color: #888;
	}

	.menu-main > ul > li > a .icon, .header-container .toggle-language-wrapper .icon {
		margin: 0 4px 0 2px;
	}


/*============== Music Menu ==============*/
	.menu-music > ul {
		display: flex;
		flex-flow: column;
		padding: 0;
	}


/*============== Player ==============*/
	.player .track-title, .player .track-progress-bar-container {font-size: 0.9em;}
	.player .fas:not(.fa-chevron-up) {font-size: 1.2em;}

	.player .track-progress-bar-container {
		align-items: center;
		flex: auto;
		padding: 0 10px;
		width: 38%;
	}
	.player .track-progress-bar {
		flex: auto;
		margin: 0 8px;
	}
	.player .total-time::before {content: ""; margin: 0 auto;}

/*============== Footer ==============*/
	footer .social-label {
		display: block;
		font-size: 0.85em;
		margin-left: 10px;
	}
	footer .social-icons a {font-size: 1.3em;}
	footer .copyright{
		font-size: 0.85em;
		margin-right: 10px;
	}


/*============== Debug ==============*/
	.screen-m {display: none;}
	.screen-l {display: block;}
}

/**********************************************************************************
 * Desktop, large (only making use of the wider spaces)
 **********************************************************************************/
@media screen and (min-width: 80em) {
	.menu-main > ul, .header-container .toggle-language-wrapper > a {
		margin-left: 2%;
		margin-right: 2%;
	}

	.player .track-progress-bar-container {
		margin-right: 8%;
		width: 42%;
	}

/*============== Debug ==============*/
	.screen-m {display: none;}
	.screen-l {display: none;}
	.screen-xl {display: block;}
}
